<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Modifica il tuo corso</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <div class="form-group">
            <label for="dateOfBirth">Nome Corso</label>
            <input required id="dateOfBirth" class="form-control" [(ngModel)]="corso.nomeCorso"
                placeholder="inserisci il nome del corso">

        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Descrizione corso</label>
            <angular-editor [(ngModel)]="corso.descrizioneCorso" [config]="config"></angular-editor>
        </div>


        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')"
                [disabled]="disableSave">Salva</button>
        </div>


    </div>
</ng-template>
<a (click)="open(content)" class="btn btn-outline-primary btn-sm mr-3 mt-4">Modifica</a>