<h2 mat-dialog-title>Registrati al sito</h2>
<mat-dialog-content class="mat-typography" class="p-5">

    <div>
        <mat-form-field class="example-form-field">
            <mat-label>Nome</mat-label>
            <input matInput type="text" [(ngModel)]="user.nome">
            <button mat-button *ngIf="user.nome" matSuffix mat-icon-button aria-label="Clear" (click)="user.nome=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-form-field">
            <mat-label>Cognome</mat-label>
            <input matInput type="text" [(ngModel)]="user.cognome">
            <button mat-button *ngIf="user.cognome" matSuffix mat-icon-button aria-label="Clear"
                (click)="user.cognome=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput [(ngModel)]="user.email" [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email  <strong>obbligatoria</strong>
                </mat-error>
            </mat-form-field>
        </form>
    </div>

    <div>
        <mat-form-field class="example-form-field">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="user.password">
            <button mat-button *ngIf="user.password" matSuffix mat-icon-button aria-label="Clear"
                (click)="user.password=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div *ngIf="user.password !== undefined && user.password !== ''">
        <mat-form-field class="example-form-field">
            <mat-label>Conferma Password</mat-label>
            <input matInput type="password" [(ngModel)]="confirmPassword">
            <button mat-button *ngIf="confirmPassword" matSuffix mat-icon-button aria-label="Clear"
                (click)="confirmPassword=''">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="confirmPassword !== user.password">
                Le due password devono coincidere
            </mat-error>
        </mat-form-field>
    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="save()" [disabled] = "disableSave">Registrati</button>
</mat-dialog-actions>