
<div class="row mt-4 mb-2">
  <div class="col-12 d-flex justify-content-center">
        <input type="file" (change)="fileChangeEvent($event)" />
  </div>
  <div *ngIf="imageChangedEvent !== ''" class="col-12 d-flex justify-content-center pl-5 pr-5">
    <image-cropper
    style="max-width: 500px;"
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="ratio"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded($event)"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper>

  </div>
</div>