<button mat-icon-button [matMenuTriggerFor]="menu" style="margin-top: 2px;" class="ml-3" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">

    <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="addVideoBytes($event)" />
    <button *ngIf="withVideo && !isLoading && (fileLearnIt.base64 === undefined || fileLearnIt.base64 === null)  && isSamEUser" mat-menu-item color="primary" (click)="csvInput.click()">
        <mat-icon>add</mat-icon>
        <span>Aggiungi video ( Formato MP4 )</span> 
    </button>


    <button *ngIf="withVideo && !isLoading && (fileLearnIt.base64 !== undefined && fileLearnIt.base64 !== null)  && isSamEUser" mat-menu-item (click)="eliminaVideo()">
        <mat-icon>delete_outline</mat-icon>
        <span>Elimina Video</span>
    </button>

    <button *ngIf="withAdd && isSamEUser" mat-menu-item (click)="add()">
        <mat-icon>add</mat-icon>
        <span>Aggiungi {{section}}</span>
    </button>

    <button *ngIf="withDisable  && isSamEUser" mat-menu-item (click)="updateVisCorso()">
        <mat-icon *ngIf="corso !== undefined && corso.enable">visibility_off</mat-icon>
        <mat-icon *ngIf="corso !== undefined && !corso.enable">visibility</mat-icon>
        <span>{{corso !== undefined && corso.enable ? 'Disabilita Corso' : 'Abilita Corso'}}</span>
    </button>

    <button *ngIf="withGoTo  && isSamEUser" mat-menu-item (click)="goTo()">
        <mat-icon>arrow_right_alt</mat-icon>
        <span>Vai al {{section}}</span>
    </button>
    
    <button *ngIf="withInfo" mat-menu-item (click)="info()">
        <mat-icon>info_outline</mat-icon>
        <span>Info {{section}}</span>
    </button>

    <button *ngIf="withElimina  && isSamEUser && !confirmDelete" mat-menu-item (click)="$event.stopPropagation(); confirmDelete = true">
      <mat-icon>delete_outline</mat-icon>
      <span>Elimina</span>
    </button>

    <div *ngIf="confirmDelete" class="col-12 p-3">
               
        Confermi ?
        <button mat-button (click)="elimina" style="color: red;">
            Si
            
        </button>
        <button mat-button (click)="$event.stopPropagation(); confirmDelete = false" style="color: #6c757d;">
            No
            
        </button>
    </div>

    <button *ngIf="withModifica && isSamEUser" mat-menu-item (click)="edit()">
        <mat-icon>edit_outline</mat-icon>
        <span>Modifica</span>
    </button>

</mat-menu>
