<div *ngIf="renderPage" >

  <app-card-page-corso [corso] = "corso" (changeViewEmitter)="retrieveChangeView($event)" (newLezioneEmitter)="retrieveNewLezione($event)"></app-card-page-corso>

</div>



<div *ngIf="!showFeeds && renderPage" class="row w-100 ml-0">

  <div class="col-12 d-flex  justify-content-center mt-5" *ngIf="corso.lezioni.length === 0">
    Nessuna lezione 
  </div>

  <div *ngIf="corso.lezioni.length > 0 && !showFeeds" class="w-100 padding-list mt-3">
    <div *ngFor="let lezione of corso.lezioni" class="col-12 w-100  d-flex  justify-content-center">
      <app-card-lezione [lezione]="lezione" [corso]="corso" [lezioni]="corso.lezioni"></app-card-lezione>
    </div>
  </div>


</div>

<div *ngIf="showFeeds && renderPage" class="row w-100 ml-0 mt-3">

  <div class="col-12 d-flex  justify-content-center mt-5" *ngIf="corso.feeds.length === 0">
    Nessuna feedback
  </div>
  <div *ngFor="let feed of corso.feeds" class="col-12 d-flex justify-content-center ">
    
      <app-card-feedback [feed]="feed"></app-card-feedback>
  
  </div>

</div>