
<div class="row mt-3 mb-5" *ngIf="isLoading" style="background-color: rgb(52, 52, 52);">
	<div class="col-12 d-flex justify-content-center p-4">
		<mat-progress-spinner diameter=50 mode="indeterminate" color="accent"></mat-progress-spinner>
	</div>
</div>
<div class="row mb-3 mt-3" style="background-color: rgb(246, 246, 246);" *ngIf="!isLoading && fileLearnIt.base64 !== undefined && fileLearnIt.base64 !== null">
	<div class="col-12 d-flex justify-content-center p-4">
		<div id="instructions">
			<video id="my_video_1" width="{{width}}" controls preload="none"
				
				data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
				<source src="{{fileLearnIt.base64}}" type="{{fileLearnIt.typeFile}}" media="all and (max-width: 480px)"/>
			
			</video>
		
		</div>
	
	</div>

</div>



