
<div class="row MT-4" *ngIf="isLoading">
	<div class="col-12 d-flex justify-content-center pt-4">
		<mat-progress-spinner diameter=50 mode="indeterminate" color="accent"></mat-progress-spinner>
	</div>
</div>
<div class="row" *ngIf="!isLoading && fileLearnIt.base64 !== undefined && fileLearnIt.base64 !== null">
	<div class="col-12 d-flex justify-content-center">
		<div id="instructions">
			<video id="my_video_1" width="{{width}}" controls preload="none"
				
				data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
				<source src="{{fileLearnIt.base64}}" type="{{fileLearnIt.typeFile}}" media="all and (max-width: 480px)"/>
			
			</video>
		
		</div>
	
	</div>

</div>

<div class="row"  *ngIf="!isLoading && (fileLearnIt.base64 === undefined || fileLearnIt.base64 === null)">
	<div class="col-12 d-flex justify-content-center">
		<button mat-button (click)="fileInput.click()"> 
				
			<span>Aggiungi video</span>
			<input #fileInput type="file" (change)="fileChange($event)" style="display:none;" />
		</button> 
	</div>
</div>

<div *ngIf="!isLoading && (fileLearnIt.base64 !== undefined && fileLearnIt.base64 !== null)" class="row">
	<div class="col-12 d-flex justify-content-center">  
		<button mat-button (click)="eliminaVideo()">Elimina Video</button>
	</div>
</div>


