<div class="card mb-3" style="max-width: 540px; min-height: 200px;">
    <div class="row no-gutters">
        <div class="col-4">
            <img class="card-img-top" src="../../assets/images/user.png" class="card-img-top" >
        </div>
        <div class="col-8">
            <div class="card-body">                  
                <div class="card-text">
                    <p>{{ feed.comment }}</p>
                </div>
                <div class="row ">
                    <ngx-stars [readonly]="true" [size]="1" [color]="'#007bff'" [initialStars]="feed.feed"></ngx-stars>
                </div>
            </div>
        </div>
    </div>
</div>
