<div *ngIf="!addDominio"  class="row mt-3">
    <div class="col-12">
        <button  (click) = "newDomain()" mat-button  style="color: #6c757d;">
            Aggiungi Tipo
        </button>

    </div>
</div>



<mat-list *ngIf="!addDominio" >
    <ng-container *ngFor="let type of tipoCorsoList">
        <mat-list-item *ngIf="!type.edit">- {{type.descrizione}}</mat-list-item>


        <button  mat-button (click)="addDominio = true; newDominio = type " style="color: #6c757d;">
            <h6>Modifica</h6>
        </button>
        <button  mat-button (click)="deleteDominio(type)" style="color: #6c757d;">
            <h6>Elimina</h6>
        </button>
     



    </ng-container>
</mat-list>



<div *ngIf="addDominio" class="row mt-4">
    <div class="col-12 d-flex justify-content-center">
        
        <mat-form-field class="example-form-field">
            
            <mat-label>Nome del nuovo tipo corso</mat-label>
            <input matInput type="text" [(ngModel)]="newDominio.descrizione">
           
        </mat-form-field>
       
       
       
    </div>
    <div class="col-12 d-flex justify-content-center mt-2">
        <app-cropper  (base65) = "retrieveImg($event)"></app-cropper>
    </div>
    <div class="col-12 d-flex justify-content-center mt-2">

        <mat-form-field appearance="fill" class="size-comment">
            <mat-label>Testo del tipo corso</mat-label>
            <textarea [(ngModel)]="newDominio.text" matInput></textarea>
           
        </mat-form-field>
       
    </div>
    <div class="col-12 d-flex justify-content-center mt-2">
        <button (click)="saveDom()" mat-button  style="color: #6c757d;">
            <h6>Salva</h6>
        </button>
        <button  mat-button (click) = "addDominio = false"  style="color: #6c757d;">
            <h6>Annulla</h6>
        </button>
    </div>
</div>
