.card-custom {
    overflow: hidden;
    min-height: 230px;
    border: 0;
    box-shadow: 0 0 0px rgba(10, 10, 10, 0.3);
  }
  

.button-aggiorna{
  min-width: 38px !important;
}


.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    padding-bottom: 0px;
}