.one-edge-shadow {
	-webkit-box-shadow: 0 3px 6px -6px black;
	   -moz-box-shadow: 0 3px 6px -6px black;
	        box-shadow: 0 3px 6px -6px black;
}



app-carousel-cards-corsi{
	width: 100%;
	background-color: #f3f2f0;
}


.mat-button.mat-primary.mat-button-disabled, .mat-button.mat-accent.mat-button-disabled, .mat-button.mat-warn.mat-button-disabled, .mat-button.mat-button-disabled.mat-button-disabled, .mat-icon-button.mat-primary.mat-button-disabled, .mat-icon-button.mat-accent.mat-button-disabled, .mat-icon-button.mat-warn.mat-button-disabled, .mat-icon-button.mat-button-disabled.mat-button-disabled, .mat-stroked-button.mat-primary.mat-button-disabled, .mat-stroked-button.mat-accent.mat-button-disabled, .mat-stroked-button.mat-warn.mat-button-disabled, .mat-stroked-button.mat-button-disabled.mat-button-disabled {
	color: rgba(0,0,0,.26);
	color: blue;
}


.title-courses{
	position: absolute;
    top: 10px;
	left: 40px;
	opacity: 0.9 !important;
	color: black !important;
}

.back-color-coders{
	background-color: rgb(255, 255, 255);
}

.back-color-coders-header{
	background-color: rgb(242, 242, 242);
}
