

<div *ngIf="listaCorsiFiltered.length > 0" class="row">
    <div class="col-12">
        <button mat-icon-button (click)="cleanListaCorsiFiltered()" style=" color: #6c757d;">
            <mat-icon style="margin-top: -3px;">clear</mat-icon>
        </button>
    </div>
</div>


<div *ngIf="listaCorsiFiltered.length === 0">

    <div *ngFor="let item of mapCorsi | keyvalue" class="p-2 pt-4">
        
        <div class="row">
            <div class="col-12">
                <h4 class="text-muted">{{item.key}}</h4>   
            </div>
        </div>
        <div class="row">

            <div *ngFor="let corso of item.value" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 justify-content-center mb-3">
                <app-card-corso [corso]="corso"></app-card-corso>
            </div>
        </div>
    </div>

</div>

<div *ngIf="listaCorsiFiltered.length > 0" class="row">
    <div *ngFor="let corso of listaCorsiFiltered" class="col-md-4 col-sm-6 col-xs-6">
        <app-card-corso [corso]="corso"></app-card-corso>
    </div>
</div>