<div class="card mb-3 shadow-sm mt-2 pr-3" >
    <div class="row">
        <div class="col-4 justify-content-center align-self-center">
            <div class="w-100 d-flex justify-content-center mt-3">
                <p class="h6 ">Lezione</p>
            </div>
            <div class="w-100 d-flex justify-content-center">
                <h2>{{lezione.indexLezione > 9 ? lezione.indexLezione : '0' + lezione.indexLezione}}</h2>
            </div>
        </div>
        <div class="col-8">
            <div class="row bg-light text-dark d-flex justify-content-center">  
                <div class="col-12 pt-4 d-flex justify-content-center">
                        <input *ngIf="edit" type="text" class="form-control input-sm" [(ngModel)]="title" placeholder="titolo lezione">
                    
                        <h4  *ngIf="!edit">{{lezione.title}}</h4>   
                </div> 
                <div class="col-12 d-flex justify-content-center pt-0 pb-0">
                    <input *ngIf="edit" type="text" class="form-control input-sm mb-2 mt-2" [(ngModel)]="subTitle" placeholder="Sotto titolo lezione">
                
                    <h5 *ngIf="!edit">{{lezione.subTitle}}</h5>   
                </div>           
            </div>
            <div class="row pt-0  bg-light text-dark d-flex justify-content-center pl-2">
                <div *ngIf="edit && isUtenteLogged" >
                    <button mat-button (click)="save()" style="color: #6c757d;">
                        <h5>Salva</h5>
                    </button>
                </div>
                <div *ngIf="!edit && isUtenteLogged"> 
                    <button mat-button (click)="eliminaLezione()" style="color: #6c757d;">
                        <h5>Elimina</h5>
                    </button>
                </div>
                <div *ngIf="!edit && isUtenteLogged">
                    <button mat-button (click)="update()" style="color: #6c757d;">
                        <h5>Modifica</h5>
                    </button> 
                </div>
                <div *ngIf="!edit">
                    <button mat-button (click)="goToLezione()" style="color: #6c757d;">
                        <h5 class="text-primary">Inizia</h5>
                    </button> 
                </div>
            </div>

        </div>

    </div>
</div>
