
.bgc-chip{
    background-color: rgb(242, 242, 242);
}

.vertical-center {
   
  
    display: flex;
    align-items: center;
}


.mat-typography h6 {
    margin: 0px 0 0px !important;
  }
  .mat-typography h5 {
    margin: 0px 0 0px !important;
  }
  .mat-typography h4 {
    margin: 0px 0 0px !important;
  }
  .mat-typography h3 {
    margin: 0px 0 0px !important;
  }
  .mat-typography h2 {
    margin: 0px 0 0px !important;
  }
  .mat-typography h1 {
    margin: 0px 0 0px !important;
  }