<div class="card mb-3 shadow-sm mt-2 pr-3" >
    <div class="row">
        <div class="col-4 justify-content-center align-self-center">
            <div class="w-100 d-flex justify-content-center">
                <p class="h6">Lezione</p>
            </div>
            <div class="w-100 d-flex justify-content-center">
                <p class="h3">{{lezione.indexLezione > 9 ? lezione.indexLezione : '0' + lezione.indexLezione}}</p>
            </div>
        </div>
        <div class="col-8">
            <div class="row bg-light text-dark d-flex justify-content-center">             
                <div class="w-75 mt-3" *ngIf="edit">
                    <input type="text" class="form-control input-sm" [(ngModel)]="title" placeholder="titolo lezione">
                </div>
                <div class="mt-3" *ngIf="!edit">
                    <h5>{{lezione.title}}</h5>              
                </div>
            </div>
            <div class="row pt-3 pb-3 bg-light text-dark d-flex justify-content-center pl-2">
                <div *ngIf="edit && isUtenteLogged" >
                    <button mat-button (click)="save()" style="color: #6c757d;">
                        Salva
                    </button>
                </div>
                <div *ngIf="!edit && isUtenteLogged"> 
                    <button mat-button (click)="eliminaLezione()" style="color: #6c757d;">
                        Elimina
                    </button>
                </div>
                <div *ngIf="!edit && isUtenteLogged">
                    <button mat-button (click)="update()" style="color: #6c757d;">
                        Modifica
                    </button> 
                </div>
                <div *ngIf="!edit">
                    <button mat-button (click)="goToLezione()" style="color: #6c757d;">
                        Inizia
                    </button> 
                </div>
            </div>

        </div>

    </div>
</div>
