<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Crea il tuo corso</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <div class="form-group">
            <label for="dateOfBirth">Nome Corso</label>
            <input required id="dateOfBirth" class="form-control" [(ngModel)]="nomeCorso"
                placeholder="inserisci il nome del corso">

        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Descrizione corso</label>
            <angular-editor [(ngModel)]="descCorso" [config]="config"></angular-editor>
        </div>
        <div ngbDropdown class="form-group">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{labelTipoCorso}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <div *ngFor="let tipo of tipoCorsoList">
                    <button ngbDropdownItem (click)="changeTipoCorso(tipo)">{{tipo.descrizione}}</button>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')"
                [disabled]="disableSave">Crea corso</button>
        </div>


    </div>
</ng-template>

<button mat-button (click)="open(content)">Nuovo Corso</button>
