<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Crea il tuo corso</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <div class="form-group">
            <label for="dateOfBirth">Nome Corso</label>
            <input required id="dateOfBirth" class="form-control" [(ngModel)]="nomeCorso"
                placeholder="inserisci il nome del corso">

        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Descrizione corso</label>
            <angular-editor [(ngModel)]="descCorso" [config]="config"></angular-editor>
        </div>
        <div *ngIf="!isShowSaveTipo" ngbDropdown class="row  form-group">
            <div class="col-8">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{labelTipoCorso}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <div *ngFor="let tipo of tipoCorsoList">
                        <button ngbDropdownItem (click)="changeTipoCorso(tipo)">{{tipo.descrizione}}</button>
                    </div>
                </div>
            </div>
            <div *ngIf="tipoCorso === undefined || tipoCorso === null" class="col-4">
                <button class="btn btn-lg" (click)="changeShowSaveTipo()">
                    <i class="fa fa-plus-square-o mr-2"></i>
                </button>
            </div>
        </div>

        <div *ngIf="isShowSaveTipo" class="row  form-group">
            <div class="col-lg-8 col-xs-7">
                <div class="row">
                    <div class="col-8">
                        <input required id="newType" class="form-control d-inline" [(ngModel)]="newType.descrizione" placeholder="inserisci tipologia corso">
                    </div>
                    <div class="col-2 pl-0">
                        <button class="d-inline" mat-icon-button (click)="salvaTipo()" style=" color: #6c757d;">
                            Salva
                        </button>
                    </div>
                    <div class="col-2 pl-0">
                        <button mat-icon-button (click)="changeShowSaveTipo()" style=" color: #6c757d;">
                            Annulla
                        </button>
                    </div>
                </div>
            </div>
            
        </div>




        <div *ngIf="!isShowSaveSubTipo && tipoCorso !== undefined && tipoCorso !== null" ngbDropdown class="row form-group">
            <div class="col-8">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{labelSubTipoCorso}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <div *ngFor="let tipo of tipoCorso.sottoTipi">
                        <button ngbDropdownItem (click)="changeSubTipoCorso(tipo)">{{tipo.descrizione}}</button>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <button class="btn btn-lg" (click)="changeShowSaveSubTipo()">
                    <i class="fa fa-plus-square-o mr-2"></i>
                </button>
            </div>
        </div>

        <div *ngIf="isShowSaveSubTipo" class="row  form-group">
            <div class="col-lg-8 col-xs-7">
                <div class="row">
                    <div class="col-8">
                        <input required id="newSubType" class="form-control d-inline" [(ngModel)]="newSubType.descrizione" placeholder="inserisci tipologia corso">
                    </div>
                    <div class="col-2 pl-0">
                        <button class="d-inline" mat-icon-button (click)="salvaSubTipo()" style=" color: #6c757d;">
                            Salva
                        </button>
                    </div>
                    <div class="col-2 pl-0">
                        <button mat-icon-button (click)="changeShowSaveSubTipo()" style=" color: #6c757d;">
                            Annulla
                        </button>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')"
                [disabled]="disableSave">Crea corso</button>
        </div>


    </div>
</ng-template>

<button mat-button (click)="open(content)" style="color: #6c757d;">
    <mat-icon style="margin-top: -3px;">playlist_add</mat-icon>
    Nuovo Corso
</button>