
<mat-horizontal-stepper [linear]="isLinear" #stepper class="max-width mt-3">



    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Dati di accesso</ng-template>
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    <button mat-button matStepperNext [disabled]="datiAccessoUncompleted">Avanti</button>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput [(ngModel)]="user.email" (change)="changeEvnt()" formControlName="emailCtrl" placeholder="Ex. pat@example.com" name="email">
                      
                    </mat-form-field>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" [(ngModel)]="user.password" (change)="changeEvnt()" name="password" formControlName="passwordCtrl">
                    </mat-form-field>
                </div>
                <div class="col-12 d-flex justify-content-center" *ngIf="user.password !== undefined && user.password !== ''">
                    <mat-form-field>
                    
                        <mat-label>Conferma Password</mat-label>
                        <input matInput type="password" [(ngModel)]="user.confirmPassword" (change)="changeEvnt()" name="cognome2" formControlName="confirmPswCtrl">
                    </mat-form-field>
                </div>
               
            </div>
        </form>
    </mat-step> 



    <mat-step [stepControl]="secondFormGroup" label="Dati anagrafici">
        <form [formGroup]="secondFormGroup">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <button mat-button matStepperPrevious>Indietro</button>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <mat-form-field>
                        <mat-label>Nome</mat-label>
                        <input matInput type="text" (change)="changeEvnt()"  [(ngModel)]="user.nome" name="nome" formControlName="nomeCtrl">
                        <button mat-button *ngIf="user.nome" matSuffix mat-icon-button aria-label="Clear"
                            (click)="user.nome=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <mat-form-field>
                        <mat-label>Cognome</mat-label>
                        <input matInput type="text" (change)="changeEvnt()"  [(ngModel)]="user.cognome" name="cognome" formControlName="cognometrl">
                        <button mat-button *ngIf="user.cognome" matSuffix mat-icon-button aria-label="Clear" (click)="user.cognome=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <mat-form-field>
                        <mat-label>Professione</mat-label>
                        <input matInput type="text" (change)="changeEvnt()"  [(ngModel)]="user.attivita" name="attivita" formControlName="attivitaCtrl">
                        <button mat-button *ngIf="user.attivita" matSuffix mat-icon-button aria-label="Clear" (click)="user.attivita=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <mat-form-field>
                        <mat-label>Citta</mat-label>
                        <input matInput type="text" (change)="changeEvnt()"  [(ngModel)]="user.recapito.citta" name="citta" formControlName="cittaCtrl">
                        <button mat-button *ngIf="user.recapito.citta" matSuffix mat-icon-button aria-label="Clear"
                            (click)="user.recapito.citta=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <mat-form-field>
                        <mat-label>Indirizzo</mat-label>
                        <input matInput type="text" (change)="changeEvnt()"  [(ngModel)]="user.recapito.indirizzo" name="indirizzo" formControlName="indirizzoCtrl">
                        <button mat-button *ngIf="user.recapito.indirizzo" matSuffix mat-icon-button aria-label="Clear"
                            (click)="user.recapito.indirizzo=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-12 d-flex justify-content-center">
                   
                        <mat-select-country appearance="outline" label="Country" (onCountrySelected)="onCountrySelected($event)">
                        </mat-select-country>
                   
                </div>
            </div>
            
           
        </form>
    </mat-step>




</mat-horizontal-stepper>









