img {
    width: 100%;
    height : 100%;
    object-fit: contain;
    border-radius: 50%;
}

.box-button-user{
    min-width: 250px !important;
}

.boxshadows{
    box-shadow: 0 3px 6px -6px rgb(156, 156, 156);
    padding-bottom: 20px;
    background-image: linear-gradient(rgba(255,0,0,0), rgb(242, 242, 242));
}

.marginLeft{
    margin-left: 20px;
}

.positiveMarginTop{
    margin-top: 8px;
}

.negativeMarginTop{
    margin-top: -20px;
}

.chip-utente{
    position: absolute;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: white;
    left: 140px;
    top: 80px;
}

.gray-bg{
    background-color: rgb(242, 242, 242);
}



.chip-utente {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(178, 178, 178);
  }

  .chip {
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(242, 242, 242);
    height: 66px;
    
  }
  
  .chip img {
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  .chip button {
    
    margin-left: 5px;
  }

  .chip .row{
      margin-top: -8px;
      max-height: 30px;
  }
  .chip .col-12{
    height: 24px;
    width: fit-content; 
}

.small-h6{
    font: 400 calc(11px * 0.67)/12px Roboto, "Helvetica Neue", sans-serif !important;
}

.small2-h6{
    font: 400 calc(11px * 0.67)/12px Roboto, "Helvetica Neue", sans-serif !important;
}

.mtn-11{
    margin-top: -11px !important;
}


