

<div *ngIf="isCardCorso && !isDevice " class="chip">
    <img *ngIf="utente.img !== undefined && utente.img !== null && utente.img !== ''" alt="Web Studio" width="96" height="96" src="{{utente.img}}" />
    <img *ngIf="utente.img === undefined || utente.img === null || utente.img === ''" alt="Web Studio" width="96" height="96" src="../../../assets/images/default.png" />
    <button class="btn btn-lg p-0 " (click)="goToPageUtenteWithID()" >
        <div class="row">
            <div class="col-12 pr-0 pl-0">
                <h6 class="small-h6 mt-1">Pubblicato da :</h6>
            </div>
            <div class="col-12 pr-0 pl-0">
                <h6 class="text-primary no-margin"> {{utente.nome}} {{utente.cognome}} </h6>
                
            </div>
        </div>
    </button>
</div>

<div *ngIf="isCardCorso && isDevice " >
   
    <button class="btn btn-lg p-0 " (click)="goToPageUtenteWithID()" >
        <h6 class="text-primary no-margin"> {{utente.nome}} {{utente.cognome}} </h6>
    </button>
</div>



<div *ngIf="isRichiesta" class="row">
    <div class="col-12 ">
        <button class="btn btn-lg p-0" (click)="goToPageUtente()">
            <h5 class="text-primary"> {{utente.nome}} {{utente.cognome}}</h5>
        </button>
    </div>
    <div class="col-12">
        <h6>{{utente.attivita}}</h6>
    </div>
</div>


<div *ngIf="isSlide" class="card">
    <div class="row w-100 ml-0 gray-bg" >
        <div class="col-12 p-2 d-flex justify-content-center">
       
                <div class="shadow-sm" [ngStyle]="boxImgUtente()">
                    <img *ngIf="utente.img !== undefined && utente.img !== null && utente.img !== ''" alt="Web Studio"
                    class="card-img" src="{{utente.img}}" />
                    <img *ngIf="utente.img === undefined || utente.img === null || utente.img === ''" alt="Web Studio"
                    class="card-img" src="../../../assets/images/default.png" />
                </div>
         
        
            
        </div>
    </div>
    <div class="row" >
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-lg p-0 " (click)="goToPageUtenteWithID()" >
                <h6 class="text-primary"> {{utente.nome}} {{utente.cognome}}</h6>
            </button>
        </div>
    </div>
    <div class="row negativeMarginTop" >
        <div class="col-12 d-flex justify-content-center">
            <h6>{{utente.attivita | truncateText}}</h6>
        </div>
    </div>

    <div class="row negativeMarginTop p-2" >
        <div class="col-12 d-flex justify-content-center">
            <ngx-stars [readonly]="true" [size]="1" [color]="'#007bff'" [initialStars]="utente.mediaCorsi"></ngx-stars>
            <p class="card-text ml-1" style="margin-top: -3px;"><small class="text-muted">( {{utente.totCorsiPubblicati}} )</small></p>
        </div>
    </div>
</div>
