<div class="card card-custom bg-white border-white">
    <div class="card-custom-img-corso text-right" [ngStyle]="{'background-color': corso.colorCard} ">
          <div>
            <h6 class="mr-3 mt-2">Condividi la lezione</h6>
          </div>
    
          <div class="mtn-15">
            
            <app-share [url] = "url" [title] = "lezione.title" [description] = "lezione.subTitle"></app-share>
    
          </div>
    </div>
    <div class="card-custom-corso">

        <img *ngIf="corso.image !== undefined && corso.image !== null && corso.image !== ''" alt="Web Studio"
            class="img-fluid" src="{{corso.image}}" />
        <img *ngIf="corso.image === undefined || corso.image === null || corso.image === ''" alt="Web Studio"
            class="img-fluid" src="../../../assets/images/default.png" />
    </div>
    <div class="card-body" style="overflow-y: auto">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h2 class="mt-2" style="font-size: 2rem">{{lezione.title}}</h2>
                <app-edit-menu [idPadre]="lezione.id" [typePadre]="'L'" [idowner]="lezione.idOwner"
                    [section]="'Paragrafo'" [title]="lezione.title" [withVideo]="true" [withAdd]="true"
                    [withElimina]="false" [withModifica]="false" [withInfo]="false"></app-edit-menu>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h3 class="display-4" style="font-size: 2rem ;opacity: 0.6 !important;">{{lezione.subTitle}}</h3>
            </div>
           
        </div>



    </div>
</div>
