
<mat-dialog-content class="mat-typography" class="p-2">
    <div class="row w-100 p-3">
        <div class="col-12 d-flex justify-content-center">

            <div class="box-img-utente shadow">
                <img *ngIf="user.img !== undefined && user.img !== null && user.img !== ''" alt="Web Studio"
                class="card-img" src="{{user.img}}" />
                <img *ngIf="user.img === undefined || user.img === null || user.img === ''" alt="Web Studio"
                class="card-img" src="../../../assets/images/default.png" />
            </div>

        </div>
    </div>
    <form >
        <div class="row w-100 p-3">
            <div class="col-12 d-flex justify-content-center">
                <app-cropper [ratio] = "1" (base65) = "retrieveImg($event)"></app-cropper>
    
            </div>
        </div>
        <mat-tab-group >
            <mat-tab label="Anagrafe" class="h-100">
                <div class="row w-100 p-3">
                    
                    <div class="col-12 d-flex justify-content-center mt-3">
                        <mat-form-field class="example-form-field" style="width: 235px;">
                            <mat-label>Nome</mat-label>
                            <input matInput type="text" [(ngModel)]="user.nome" name="nome">
                            <button mat-button *ngIf="user.nome" matSuffix mat-icon-button aria-label="Clear"
                                (click)="user.nome=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <mat-form-field class="example-form-field" style="width: 235px;">
                            <mat-label>Cognome</mat-label>
                            <input matInput type="text" [(ngModel)]="user.cognome" name="cognome">
                            <button mat-button *ngIf="user.cognome" matSuffix mat-icon-button aria-label="Clear"
                                (click)="user.cognome=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="col-12 d-flex justify-content-center">
                        <mat-form-field class="example-form-field" style="width: 235px;">
                            <mat-label>Professione</mat-label>
                            <input matInput type="text" [(ngModel)]="user.attivita" name="attivita">
                            <button mat-button *ngIf="user.attivita" matSuffix mat-icon-button aria-label="Clear"
                                (click)="user.attivita=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <mat-form-field class="example-full-width" style="width: 235px;">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput [(ngModel)]="user.email" [formControl]="emailFormControl"
                                placeholder="Ex. pat@example.com" name="email">
                            <mat-error
                                *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email <strong>obbligatoria</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <mat-form-field class="example-form-field" style="width: 235px;">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" [(ngModel)]="user.password" name="password">
                            <button mat-button *ngIf="user.password" matSuffix mat-icon-button aria-label="Clear"
                                (click)="user.password=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    
                </div>
            </mat-tab>
            <mat-tab label="Recapito" class="h-100">
                <div class="col-12 d-flex justify-content-center mt-3">
                    <mat-form-field class="example-form-field" style="width: 235px;">
                        <mat-label>Citta</mat-label>
                        <input matInput type="text" [(ngModel)]="user.recapito.citta" name="nome">
                        <button mat-button *ngIf="user.recapito.citta" matSuffix mat-icon-button aria-label="Clear"
                            (click)="user.recapito.citta=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <mat-form-field class="example-form-field" style="width: 235px;">
                        <mat-label>Indirizzo</mat-label>
                        <input matInput type="text" [(ngModel)]="user.recapito.indirizzo" name="cognome">
                        <button mat-button *ngIf="user.recapito.indirizzo" matSuffix mat-icon-button aria-label="Clear"
                            (click)="user.recapito.indirizzo=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-12 d-flex justify-content-center">
                   
                    <mat-select-country appearance="outline" label="Country" (onCountrySelected)="onCountrySelected($event)">
                    </mat-select-country>
               
               </div>
            </mat-tab>
        </mat-tab-group>

                

       

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    
    <button mat-button mat-dialog-close >Chiudi</button>
    <button mat-button [mat-dialog-close]="false" (click)="salva()" [disabled]="disableSave">Salva</button>
</mat-dialog-actions>