
<mat-dialog-content class="mat-typography" class="p-2">
    <div class="row w-100 p-3 ml-0">
        <div class="col-12 d-flex justify-content-center">

            <div class="box-img-utente shadow-sm">
                <img *ngIf="user.img !== undefined && user.img !== null && user.img !== ''" alt="Web Studio"
                class="card-img" src="{{user.img}}" />
                <img *ngIf="user.img === undefined || user.img === null || user.img === ''" alt="Web Studio"
                class="card-img" src="../../../assets/images/default.png" />
            </div>

        </div>
    </div>
    <form >
        <div class="row w-100 pr-3 pl-3 pt-0 pb-3 mtn-15  ml-0">
            <div class="col-12 d-flex justify-content-center">
                <app-cropper [ratio] = "1" (base65) = "retrieveImg($event)"></app-cropper>
    
            </div>
        </div>
        <app-form-utente [(utente)]="user" [showDatiBancari] = "user.tipo.codice !== 'U'" [showDocumentiNecessari] = "user.tipo.codice !== 'U'"></app-form-utente>

                

       

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    
    <button mat-button mat-dialog-close >Chiudi</button>
    <button mat-button [mat-dialog-close]="false" (click)="salva()" [disabled] = "!user.datiAnagraficiCompleted || !user.datiAccessoCompleted">Salva</button>
</mat-dialog-actions>