<div class="row">
    <div class="col-12" >
        <h4 class="mt-3 mb-2">Modulo Richiesta</h4>
        
    </div>
</div>
<mat-dialog-content class="mat-typography" class="p-2">
    <form class="accesso-form">
        <div class="row mt-4">
            <div class="col-12">
                <label for="dateOfBirth">Motivo della richiesta</label>
                <app-text-editor [(inputModel)] = "richiesta.motivazione"></app-text-editor>
            </div>
        </div>

    </form>

    <app-form-utente [showDatiAccesso] = "false" [(utente)]="utente"></app-form-utente>


</mat-dialog-content>
<mat-dialog-actions align="end">
   
    <button mat-button mat-dialog-close >Chiudi</button>
    <button mat-button mat-dialog-close (click) = "salva()" [disabled] = "!utente.datiAnagraficiCompleted || !utente.datiBancariCompleted || !utente.documentiNecessariCompleted">Salva</button>
</mat-dialog-actions>
