<div class="row col-12 d-flex justify-content-center mt-3">
    <h2 class="display-4" style="font-size: 2rem">{{lezione.title}}</h2>
</div>

<div *ngIf="isUtenteLogged" class="row col-12 d-flex justify-content-center">
    <app-modal-paragrafo-new ></app-modal-paragrafo-new>
</div>

<div class="row mt-3 ">
    <div class="col-12">
        <div class="mb-4" *ngFor="let paragrafo of lezione.listaParagrafi">
            <div class="row col-12">
                <p id="{{paragrafo.idComponent}}" class="h5">{{paragrafo.titolo}}</p>
                <div *ngIf="isUtenteLogged">
                    <app-modal-paragrafo-edit [paragrafo] = "paragrafo"></app-modal-paragrafo-edit>
                </div>
                <div *ngIf="isUtenteLogged">
                    <button mat-button (click)="elimina(paragrafo)" style="color: #6c757d;">
                        <mat-icon style="margin-top: -5px;">delete_outline</mat-icon>
                    </button>
                </div>
            </div>
            <div class="mt-1" [innerHTML]="paragrafo.content"></div>
        </div>

    </div>
</div>