<div *ngIf="!renderPage"></div>
<div *ngIf="renderPage">
    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-center">
            <h2 class="display-4" style="font-size: 2rem">{{lezione.title}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h3 class="display-4" style="font-size: 2rem ;opacity: 0.6 !important;">{{lezione.subTitle}}</h3>
        </div>
    </div>

    <div *ngIf="isUtenteLogged" class="row col-12 d-flex justify-content-center mt-2">
        <app-modal-paragrafo-new></app-modal-paragrafo-new>
    </div>

    <div class="col-12 d-flex justify-content-center">
        <button *ngIf="lezione.video.url === undefined || lezione.video.url === ''" mat-button (click)="fileInput.click()"> 
            
            <span>Aggiungi video</span>
            <input #fileInput type="file" (change)="fileChange($event)" style="display:none;" />
        </button>

    </div>
    <div *ngIf="lezione.video.url !== undefined && lezione.video.url !== ''" class="col-12 d-flex justify-content-center">
        <app-video-player [url] = "lezione.video.url"></app-video-player>

    </div>

    <div class="row">
        <div *ngIf="lezione.listaParagrafi.length > 0" class="col-12 d-flex justify-content-center mt-2">
            <mat-form-field style="width: 300px;">
                <mat-label>Vai al paragrafo ...</mat-label>
                <mat-select>
                    <mat-option *ngFor="let paragrafo of lezione.listaParagrafi" (click)="scroll(paragrafo)"
                        [value]="paragrafo.titolo">
                        {{paragrafo.titolo }}
                        {{  paragrafo.subTitolo !== undefined && paragrafo.subTitolo !== '' ? ' - ' + paragrafo.subTitolo : ''}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <div class="mb-5 pb-2" *ngFor="let paragrafo of lezione.listaParagrafi">
                <div class="row col-12 pl-4">
                    <h3 id="{{paragrafo.idComponent}}" class="title-parag">{{paragrafo.titolo}}</h3>

                </div>
                <div *ngIf="paragrafo.subTitolo !== undefined && paragrafo.subTitolo !== null && paragrafo.subTitolo !== ''"
                    class="row col-12 mb-2 pl-4">
                    <h4>{{paragrafo.subTitolo}}</h4>

                </div>
                <div class="row col-12 pl-4">

                    <div *ngIf="isUtenteLogged" style="margin-left: -3px;">
                        <app-modal-paragrafo-edit [paragrafo]="paragrafo"></app-modal-paragrafo-edit>
                    </div>
                    <div class="ml-3" *ngIf="isUtenteLogged">
                        <button class="pl-0" mat-button (click)="elimina(paragrafo)" style="color: #6c757d;">
                            <h5>Elimina</h5>
                        </button>
                    </div>
                </div>
                <div class="mt-1 mb-3 p-2" [innerHTML]="paragrafo.content"></div>

                <div *ngFor="let code of paragrafo.codes">
                    <div class="col-12 p-2 mb-3">
                        <div class="row mb-3">
                            <div class="col-12 d-flex">
                                <mat-icon class="mt-2">code</mat-icon>
                                <h4 class="mt-2 ml-2">{{code.title}}</h4>

                            </div>

                            <div class="col-12 pl-5 mt-2" [innerHTML]="code.description">

                            </div>

                        </div>
                        <ngx-codemirror [(ngModel)]="code.content" [options]="{
                            lineNumbers: true,
                            theme: 'eclipse',
                            mode: 'javascript',
                            height: 'auto',
                            matchBrackets: true,
                            width: 'auto',
                            lint: true
                        }"></ngx-codemirror>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>