<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Modifica il tuo corso</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <div class="form-group">
            <label for="dateOfBirth">Titolo Paragrafo</label>
            <input required id="dateOfBirth" class="form-control" [(ngModel)]="titolo"
                placeholder="inserisci il nome del corso">

        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Contenuto Paragrafo</label>
            <angular-editor [(ngModel)]="testo" [config]="config"></angular-editor>
        </div>


        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')" >Salva</button>
        </div>


    </div>
</ng-template>

<button class="btn btn-lg" (click)="open(content)">
    <i class="fa fa-plus-square-o mr-2"></i>
    <h6 class="float-right mt-1">Nuovo Paragrafo</h6>
</button>
