<div class="row">
    <div class="col-12">

     

        <app-info-profile [utente] = "utente"></app-info-profile>



        <app-form-utente [(utente)]="utente" ></app-form-utente>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12 d-flex justify-content-center ">
        <mat-form-field class="w-100" appearance="fill" style="max-width: 400px;">
            <mat-label>ID Stripe</mat-label>
            <input matInput [maxLength]="50" type="text" [(ngModel)]="utente.idStripe">
        </mat-form-field>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12 d-flex justify-content-center ">
        <button *ngIf="utente.idStripe === undefined || utente.idStripe === null" mat-button  (click)="salva()">Salva</button>
        <button *ngIf="utente.idStripe !== undefined && utente.idStripe !== null" mat-button (click)="modifica()" >Modifica</button>
        <button *ngIf="utente.idStripe !== undefined && utente.idStripe !== null" mat-button (click)="elimina()" >Elimina</button>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
       

    </div>
</div>

<div class="row mt-3">
    <div class="col-12">



        
        {{utente.idStripe}}
        {{accountStripe | json}}
        <button *ngIf="utente.idStripe !== undefined && utente.idStripe !== null" mat-button (click)="retrieve()" >Recupera Dati Stripe</button>
    </div>
</div>
