

    <share-button class="share-button" [title] = "title" [description] = "description"  [theme]="'modern-dark'" [button]="'linkedin'" [url]="url" [autoSetMeta]="false"></share-button>
    <share-button  class="share-button" [title] = "title" [description] = "description" [theme]="'modern-dark'" [button]="'facebook'" [url]="url" [autoSetMeta]="false"></share-button>
    <share-button  class="share-button" [title] = "title" [description] = "description" [theme]="'modern-dark'" [button]="'whatsapp'" [url]="url" [autoSetMeta]="false"></share-button>




