<div class="row pt-5 text-right col-lg">
    <app-modal-corso (corso)="addCorso($event)" [tipoCorsoList]="tipoCorsoList"></app-modal-corso>
</div>

<hr>

<div class="row">
    <div *ngFor="let corso of listaCorsi" class="col-md-3 col-sm-6 col-xs-6">

        <div class="card">
            <app-image-corso [codiceCorso]="corso.tipo.codice"></app-image-corso>
            <div class="card-body">
                <h5 class="card-title">{{corso.nomeCorso}} </h5>
                <p class="card-text">{{corso.descrizioneCorso}}</p>
                <a (click)="goToCorso(corso)" class="btn btn-primary">Vai al corso</a>
            </div>
        </div>

    </div>
</div>