<h2 mat-dialog-title>Accedi al sito</h2>
<mat-dialog-content class="mat-typography" class="p-5">

    
    <div>
            <mat-form-field style="width: 235px;" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput [(ngModel)]="user.email" [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email  <strong>obbligatoria</strong>
                </mat-error>
            </mat-form-field>

    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>

   


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" (click)="openDialogSignin()">Registrati</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="login()" [disabled] = "disableSave">Login</button>
</mat-dialog-actions>