
.title{
    background-color: rgb(252, 252, 252);
    height: 40px;
    
}



.ptop{
    padding-top: 10px !important;
}

.desc-corso{
   
    background-color: rgb(247, 247, 247);
    max-width: 500px;
    
}

.pc1{
    opacity: 1;
    transition: opacity 1s;
}

.my-carousele .slick-list{
    padding:0 9% 0 0 !important; 
  }

.mln-50{
    margin-left: -50px;
}


.header-accordion{
    height: 35px !important;
}







