
.title{
    background-color: rgb(252, 252, 252);
    height: 50px;
    
}



.ptop{
    padding-top: 0.8rem !important;
}

.desc-corso{
   
    background-color: rgb(247, 247, 247);
    max-width: 500px;
    
}

