




<div *ngIf="type && !isDevice" class="card br-15 mat-elevation-z1">
    <div class="card-header header">
        <h4 class="mtn-7">{{type.descrizione}}</h4>
    </div>
    <div class="card-body">
        <div class="row mt-3">
            <div class="col-9 d-flex justify-content-center">

                <blockquote *ngIf="type.text" class="blockquote bgc-gray">
                    <h5 class="align-self-center">{{type.text}}</h5>
                  </blockquote>
    
            </div>
            <div class="col-3 d-flex justify-content-center">
                <div *ngIf="type.img !== undefined && type.img !== null && type.img !== ''" class="card-type">
          
                  <img  alt="Web Studio" class="img-fluid mat-elevation-z2" src="{{type.img}}" />
                     
                </div>
    
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-12 ">
                <app-spinner-sm [show]="loadNewCorsi"></app-spinner-sm>
        
        
                <div class="row">
                    <div *ngFor="let corso of type.corsi | paginate: type.configPagination"
                        class="col-4 d-flex justify-content-center pt-3 pb-3">
                        <app-card-corso-light [width]="350" [corso]="corso"></app-card-corso-light>
                    </div>
                </div>
        
                <div *ngIf="type" class="row mt-2 ml-0 w-100">
                    <div class="col-12 d-flex justify-content-center">
                        <pagination-controls id="{{''+type.id}}" (pageChange)="pageChanged($event)" previousLabel="Indietro"
                            nextLabel="Avanti"></pagination-controls>
        
                    </div>
                </div>
            </div>
        </div>
       

    </div>
</div>




<div *ngIf="isDevice" class="card br-15 mat-elevation-z1 ">
    <div class="card-header header">
        <h4 class="mtn-7">{{type.descrizione}}</h4>
    </div>
    <div class="card-body pl-1-5 pr-1-5 pt-0 pb-2">
        <div class="row pl-2 pr-2 mt-3">
            <div class="col-8 pr-1 d-flex justify-content-center">
                <blockquote *ngIf="type.text" class="blockquote">
                    <h5 class="align-self-center">{{type.text}}</h5>
                </blockquote>
               
        
            </div>
            <div class="col-4 pl-0 d-flex justify-content-center">
                <div *ngIf="type.img !== undefined && type.img !== null && type.img !== ''" class="card-type-sm">
          
                  <img  alt="Web Studio" class="img-fluid mat-elevation-z2" src="{{type.img}}" />
                     
                </div>
        
            </div>
        </div>

        <div class="row w-100 ml-0 mt-1 mb-1">
            <div class="col-12 p-0">
                <app-spinner-sm [show]="loadNewCorsi"></app-spinner-sm>
        
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem *ngFor="let corso of type.corsi" class="d-flex justify-content-center pt-4 pb-2 pl-1 pr-1">
                
                        <app-card-corso-light [width]="widthSlide - 40" [corso]="corso"></app-card-corso-light>
                
                    </div>
                </ngx-slick-carousel>

            </div>
        </div>

        

        <!-- <div slickContainer #slickController="slick" class=" my-carousele" (afterChange)="afterChange($event)" [slickConfig]="configSlides">
            <ng-container  (afterChange)="afterChange($event)"  *ngIf="slickController.initialize">
                
        
                <div slickItem *ngFor="let slide of slides"  class="pb-0 d-flex justify-content-center">
                    
                    
                        <div *ngFor="let corso of slide.corsi" class="d-flex justify-content-center pt-3 pl-1 pr-1" >
                            <app-card-corso-light [width] = "widthSlide - 40" [corso]="corso"></app-card-corso-light> 
                        </div>
                    
                </div>
            </ng-container>
        </div> -->

    </div>
</div>

