
.title{
    background-color: rgb(252, 252, 252);
    height: 50px;
    
}



.ptop-over{
    padding-top: 250px !important;
}

.desc-corso{
   
    background-color: rgb(247, 247, 247);
    max-width: 500px;
    
}

.pc1{
    opacity: 1;
    transition: opacity 1s;
}

.my-carousele .slick-list{
    padding:0 9% 0 0 !important; 
  }

  @media all and (min-width: 500px){
    
    app-card-corso{
        width: 85% !important;
    
    }
  } 

  @media all and (max-width: 400px){
    app-card-corso{
        width: 100% !important;
    
    }
  }





