

    <share-button (click)="$event.stopPropagation()"  class="share-button" [title] = "title" [description] = "description"  [theme]="'modern-dark'" [button]="'linkedin'" [url]="url" [autoSetMeta]="false"></share-button>
    <share-button (click)="$event.stopPropagation()"  class="share-button" [title] = "title" [description] = "description" [theme]="'modern-dark'" [button]="'facebook'" [url]="url" [autoSetMeta]="false"></share-button>
    <share-button (click)="$event.stopPropagation()"  class="share-button" [title] = "title" [description] = "textWhatsapp" [theme]="'modern-dark'" [button]="'whatsapp'" [url]="url" [autoSetMeta]="false"></share-button>
    <share-button (click)="$event.stopPropagation()"  class="share-button" [title] = "title" [description] = "description" [theme]="'modern-dark'" [button]="'email'" [url]="url" [autoSetMeta]="false"></share-button>




