<div class="navbar navbar-dark bg-dark">
    <a href="" class="navbar-brand" style="font-family: American Typewriter, serif">Learn-it</a>
    <form class="form-inline">
        <button class="btn btn-lg" data-toggle="collapse" (click)="onChangeTab(1)"
            [attr.data-target]="'#' + 'collapse' + tabName">
            <i class="fa fa-search" style="color:white"></i>
        </button>
        <button class="btn btn-lg" data-toggle="collapse" (click)="onChangeTab(2)"
            [attr.data-target]="'#' + 'collapse' + tabName">
            <i class="fa fa-user" style="color:white"></i>
        </button>


        <app-side-bar></app-side-bar>
    </form>


    <div class="collapse navbar-collapse" id="collapse1">
        
            <div class="row d-flex justify-content-center mb-2">
                <div class="col-md-5 col-xs-8">
                    <input class="form-control" type="search" placeholder="nome corso ..."  (input)="filterListCorsi($event.target.value)">
                </div>
            </div>
        
    </div>
    <div class="collapse navbar-collapse" id="collapse2">
        <ul class="nav navbar-nav navbar-right">
            <hr />
            <app-modal-corso (corso)="addCorso($event)" [tipoCorsoList]="tipoCorsoList"></app-modal-corso>
        </ul>
    </div>

</div>