<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Crea nuovo corso</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="dateOfBirth">Nome Corso</label>
                <div class="input-group">
                    <input id="dateOfBirth" class="form-control" #box (keyup)="changeNomeCorso(box.value)" placeholder="inserisci il nome del corso">

                </div>
                <div ngbDropdown >
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Tipo Corso</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <div *ngFor="let tipo of tipoCorsoList">
                            <button ngbDropdownItem (click)="changeTipoCorso(tipo)">{{tipo.descrizione}}</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<button class="btn btn-md btn-outline-primary" (click)="open(content)">Nuovo Corso</button>

<hr>
