<!-- SIDENAV -->
<mat-sidenav [mode]="'over'" [opened]="openSideBar" class="mat-elevation-z10 p-3 border-0">
    <div class="d-flex flex-column">
        <div class="w-100 p-2 d-flex justify-content-center">
            <button mat-button ></button>
        </div>
        <div class="w-100 p-2 d-flex justify-content-center">
            <app-modal-login-user></app-modal-login-user>
        </div>
        <div *ngIf="isUtenteLogged" class="w-100 p-2 d-flex justify-content-center">
            <app-modal-corso></app-modal-corso>
        </div>
    </div>
</mat-sidenav>