.side-bar {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    bottom:0;
}

.box-button-user{
    min-width: 250px !important;
}

.accesso-form {
    min-width: 320px;
    max-width: 430px;
  }
  
  .box-img-utente {
     
      height: 50px;
      width: 50px;
      border-radius: 100%;
      text-align:center;
  }
  
  img {
      width: 100%;
      height : 100%;
      object-fit: contain;
      border-radius: 50%;
     }