
<mat-dialog-content class="mat-typography" class="p-2">

        <mat-tab-group *ngIf="!isRecuperaPassword" (selectedTabChange)="changeTab($event)">
            <mat-tab label="Accedi">
               
                <form [formGroup]="loginFormGroup">
                    <div class="row w-100 p-3 ml-0 max-width">
                
                        <div class="col-12 d-flex justify-content-center">
                            <mat-form-field style="width: 235px;">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput [(ngModel)]="user.email" formControlName="emailCtrl"
                                    placeholder="Ex. pat@example.com" name="email">
                              
                            </mat-form-field>
                        </div>
                
                        <div class="col-12 d-flex justify-content-center">
                            <mat-form-field style="width: 235px;">
                                <mat-label>Password</mat-label>
                                <input matInput  [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'" name="password" formControlName="passwordCtrl">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                
                        <div class="col-12 pl-5">
                            <button mat-button class="ml-1 text-primary" (click)="isRecuperaPassword = !isRecuperaPassword">
                                <h6>Recupera Password</h6>
                            </button>
                        </div>
                
                
                    </div>
                </form>
            
            </mat-tab>
            <mat-tab label="Registrati">
                <div class="card card-custom bg-white border-white">
                    <div class="card-custom-img" style="background-color:rgb(244, 244, 244);" >
            
                    </div>
                    <div class="card-custom-avatar">
                        <img *ngIf="user.img !== undefined && user.img !== null"  style="max-width: 100px; max-height: 100px;" src="{{user.img}}" alt="Red dot" />
                        <img *ngIf="user.img === undefined || user.img === null || user.img === ''" alt="Web Studio" class="card-img" src="../../../assets/images/default.png" /> 
                    </div>   
            
                    <button class="button-add-image no-hover-effect" mat-button (click)="fileInput.click()"> 
                        <mat-icon>add_a_photo</mat-icon>
                        <input #fileInput type="file" (change)="fileChange($event)" style="display:none;" />
                    </button>
                    <app-steppers-registrazione [(user)] = "user"></app-steppers-registrazione>
                </div>
                
            
                
            
                
            
            </mat-tab>
        </mat-tab-group>

        

        <div *ngIf="isRecuperaPassword" class="row w-100 p-3" style="width: 350px;">
            <form [formGroup]="richiediPasswordFormGroup">
                <div class="col-12 d-flex justify-content-center">
                    <mat-form-field style="width: 235px;">
                        <mat-label>Inserisci la tua email</mat-label>
                        <input type="email" matInput [(ngModel)]="user.email" formControlName="emailCtrl"
                            placeholder="Ex. pat@example.com" name="email">
                        
                    </mat-form-field>
                </div>
    
                <div class="col-12 d-flex justify-content-center">
                    <h6>ATTENZIONE : Invieremo nuovamente la password a questo indirizzo email.</h6>
                </div>
            </form>
            

        </div>


   
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button *ngIf="isRecuperaPassword"  (click) = "isRecuperaPassword = !isRecuperaPassword">Annulla</button>
    <button mat-button mat-dialog-close *ngIf="!isRecuperaPassword">Chiudi</button>
    <button mat-button *ngIf="isLogin && !isRecuperaPassword" [mat-dialog-close]="true" cdkFocusInitial (click)="login()"
    [disabled]="disableLogin">Accedi</button>
    <button mat-button *ngIf="!isLogin && !isRecuperaPassword" [mat-dialog-close]="false" cdkFocusInitial (click)="save()"
    [disabled]="user.datiRegistrazioneUnCompleted">Registrati</button>
    <button mat-button *ngIf="isRecuperaPassword" [mat-dialog-close]="false" (click)="recuperaPws()"
    [disabled]="disableRecuperaPsw">Invia Richiesta</button>
</mat-dialog-actions>