<div class="row"> 
    <div class="col-12" >
        <h3 mat-dialog-title>{{isRecuperaPassword ? 'Recupera la tua Password' : isLogin ? 'Accedi al sito' : 'Registrati al sito'}}</h3>
    </div>
</div>
<mat-dialog-content class="mat-typography" class="p-2">

        <mat-tab-group *ngIf="!isRecuperaPassword" (selectedTabChange)="changeTab($event)">
            <mat-tab label="Accedi">

                <div class="row w-100 p-3 ml-0">

                    <div class="col-12 d-flex justify-content-center">
                        <mat-form-field style="width: 235px;">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput [(ngModel)]="user.email" [formControl]="emailFormControl"
                                placeholder="Ex. pat@example.com" name="email">
                            <mat-error
                                *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email <strong>obbligatoria</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-12 d-flex justify-content-center">
                        <mat-form-field style="width: 235px;">
                            <mat-label>Password</mat-label>
                            <input matInput [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'"
                                name="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    
                        <div class="col-12 pl-5">
                            <button mat-button class="ml-1 text-primary" (click) = "isRecuperaPassword = !isRecuperaPassword"><h6>Recupera Password</h6></button>
                        </div>
                   

                </div>

            </mat-tab>
            <mat-tab label="Registrati">

                <div class="row w-100 p-3 ml-0">
                    <div class="col-12 d-flex justify-content-center">
            
                        <div class="box-img-utente shadow">
                            <img *ngIf="user.img !== undefined && user.img !== null && user.img !== ''" alt="Web Studio"
                            class="card-img" src="{{user.img}}" />
                            <img *ngIf="user.img === undefined || user.img === null || user.img === ''" alt="Web Studio"
                            class="card-img" src="../../../assets/images/default.png" />
                        </div>
            
                    </div>
                </div>

                <div class="row w-100 p-3 mtn-25">
                    <div class="col-12 d-flex justify-content-center">
                        <button class="ml-3" mat-button (click)="fileInput.click()"> 
                            <mat-icon>add_photo_alternate</mat-icon>
                            <span>Seleziona immagine</span>
                            <input #fileInput type="file" (change)="fileChange($event)" style="display:none;" />
                        </button>
            
                    </div>

                    
                </div>

                <mat-tab-group >
                    <mat-tab label="Dati di accesso" class="h-100">
                        <div class="row w-100 p-3 ml-0">
                            <div class="col-12 d-flex justify-content-center">
                                <mat-form-field class="example-full-width" style="width: 235px;">
                                    <mat-label>Email</mat-label>
                                    <input type="email" matInput [(ngModel)]="user.email" [formControl]="emailFormControl"
                                        placeholder="Ex. pat@example.com" name="email">
                                    <mat-error
                                        *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                        Please enter a valid email address
                                    </mat-error>
                                    <mat-error *ngIf="emailFormControl.hasError('required')">
                                        Email <strong>obbligatoria</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <mat-form-field class="example-form-field" style="width: 235px;">
                                    <mat-label>Password</mat-label>
                                    <input matInput type="password" [(ngModel)]="user.password" name="password">
                                    <button mat-button *ngIf="user.password" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="user.password=''">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div *ngIf="user.password !== undefined && user.password !== ''"
                                class="col-12 d-flex justify-content-center">
                                <mat-form-field class="example-form-field" style="width: 235px;">
                                    <mat-label>Conferma Password</mat-label>
                                    <input matInput type="password" [(ngModel)]="confirmPassword" name="cognome2">
                                    <button mat-button *ngIf="confirmPassword" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="confirmPassword=''">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <mat-error
                                        *ngIf="passwordConfermaControl.hasError('password') && !passwordConfermaControl.hasError('required')">
                                        Le due password devono coincidere
                                    </mat-error>
                               
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Anagrafica" class="h-100">

                        <div class="row w-100 p-3 ml-0">
                            <div class="col-12 d-flex justify-content-center">
                                <mat-form-field class="example-form-field" style="width: 235px;">
                                    <mat-label>Nome</mat-label>
                                    <input matInput type="text" [(ngModel)]="user.nome" name="nome">
                                    <button mat-button *ngIf="user.nome" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="user.nome=''">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <mat-form-field class="example-form-field" style="width: 235px;">
                                    <mat-label>Cognome</mat-label>
                                    <input matInput type="text" [(ngModel)]="user.cognome" name="cognome">
                                    <button mat-button *ngIf="user.cognome" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="user.cognome=''">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <mat-form-field class="example-form-field" style="width: 235px;">
                                    <mat-label>Professione</mat-label>
                                    <input matInput type="text" [(ngModel)]="user.attivita" name="attivita">
                                    <button mat-button *ngIf="user.attivita" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="user.attivita=''">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="col-12 d-flex justify-content-center mt-3">
                                <mat-form-field class="example-form-field" style="width: 235px;">
                                    <mat-label>Citta</mat-label>
                                    <input matInput type="text" [(ngModel)]="user.recapito.citta" name="nome">
                                    <button mat-button *ngIf="user.recapito.citta" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="user.recapito.citta=''">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <mat-form-field class="example-form-field" style="width: 235px;">
                                    <mat-label>Indirizzo</mat-label>
                                    <input matInput type="text" [(ngModel)]="user.recapito.indirizzo" name="cognome">
                                    <button mat-button *ngIf="user.recapito.indirizzo" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="user.recapito.indirizzo=''">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="col-12 d-flex justify-content-center p-0">
                                <mat-select-country appearance="outline" 
                                    label="Country"
                                    (onCountrySelected)="onCountrySelected($event)">
                                </mat-select-country>
                            </div> 
                            
                            
                        </div>
                    </mat-tab>
                
                </mat-tab-group>


            </mat-tab>
        </mat-tab-group>

        <div *ngIf="isRecuperaPassword" class="row w-100 p-3" style="width: 350px;">

            <div class="col-12 d-flex justify-content-center">
                <mat-form-field style="width: 235px;">
                    <mat-label>Inserisci la tua email</mat-label>
                    <input type="email" matInput [(ngModel)]="user.email" [formControl]="emailFormControl"
                        placeholder="Ex. pat@example.com" name="email">
                    <mat-error
                        *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email <strong>obbligatoria</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-12 d-flex justify-content-center">
                <h6>ATTENZIONE : Invieremo nuovamente la password a questo indirizzo email.</h6>
            </div>

        </div>


   
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button *ngIf="isRecuperaPassword"  (click) = "isRecuperaPassword = !isRecuperaPassword">Annulla</button>
    <button mat-button mat-dialog-close *ngIf="!isRecuperaPassword">Chiudi</button>
    <button mat-button *ngIf="isLogin && !isRecuperaPassword" [mat-dialog-close]="true" cdkFocusInitial (click)="login()"
    [disabled]="disableLogin">Accedi</button>
    <button mat-button *ngIf="!isLogin && !isRecuperaPassword" [mat-dialog-close]="false" cdkFocusInitial (click)="save()"
    [disabled]="disableSignin">Registrati</button>
    <button mat-button *ngIf="isRecuperaPassword" [mat-dialog-close]="false" (click)="recuperaPws()"
    [disabled]="disableRecuperaPsw">Invia Richiesta</button>
</mat-dialog-actions>