
.card-custom {
    overflow: hidden;
    min-height: 245px;
    border: 0;
    box-shadow: 0 0 2px rgba(10, 10, 10, 0.3);
  }

.accesso-form {
    min-width: 320px;
    max-width: 430px;
  }
  
  .box-img-utente {
     
      height: 100px;
      width: 100px;
      border-radius: 100%;
      text-align:center;
  }

  .button-add-image{
    position: absolute;
    top: 70px;
    left: 0px;
    border-radius: 50%;
  }

     mat-select-country{
        width: 235px;
    }
     a{
         width: 185px;
     }

     .max-width{
         max-width: 450px;
     }

     .cdk-overlay-pane {
        min-width: 95% !important
      }

     
      .mat-button.mat-button-focus-overlay {
        background-color: transparent !important;
      }


      app-form-utente{
        max-width: 600px;
      }