<div class="navbar navbar-light my-navbar fixed-top" >
    <div class="navbar-brand  ml-2">

    </div>
    <a  href="" class="brand-mobile" >
    
        <img *ngIf="!isMobile" src="../../assets/images/logo2.png" class="logo" alt="">
        <img *ngIf="isMobile" src="../../assets/images/logo2.png" class="logo-sm" width="100px" alt="">
    </a>
    
    <form class="form-inline">
       
        <button mat-button data-toggle="collapse" class="mini-button mr-2" (click)="onChangeTab(1)"
            [attr.data-target]="'#' + 'collapse' + tabName">
            <mdb-icon fas icon="search" size="lg"></mdb-icon>
            
        </button>
        <button mat-button class="mini-button mr-2" (click)="openSideBar()">
            <mdb-icon fas icon="bars" size="lg"></mdb-icon>
        </button>
        
    

    </form>
    

    <div class="collapse navbar-collapse" id="collapse1">
        <div class="row d-flex justify-content-center mb-2">
            <div class="col-md-5 col-xs-8">
                <input class="form-control" type="search" placeholder="nome corso ..."
                    (input)="filterListCorsi($event.target.value)">
            </div>
        </div>
    </div>
       
</div>




