.input-search{
    margin-top: 7px;
    max-width: 70%;
}
.my-navbar{
    background-color: rgb(244, 244, 244);
    box-shadow: 0 3px 6px -6px black;
}

.mini-button{
    min-width: 35px;
    max-width: 35px;
    padding: 0px;
}

.brand-mobile{
    font-family: American Typewriter, serif; font-size:15px !important;
    position: absolute;
    top: 10px;
    left: 15;
    z-index: 1100;
    border-radius: 50%;
}

.logo{
    margin-top: -3px; 
    margin-right: 10px;
    width: 120px;
    margin-left: 10px;
}

.logo-sm{
    margin-top: -2px; 
    margin-right: 10px;
    width: 100px;
}