<div class="navbar navbar-light my-navbar fixed-top" >
    <div class="navbar-brand  ml-2">

    </div>
    <a  href="" class="brand-mobile" >
    
        <img *ngIf="!isMobile" src="../../assets/images/logo2.png" style="margin-top: -4px; margin-right: 10px;" width="150px" alt="">
        <img *ngIf="isMobile" src="../../assets/images/logo2-sm.png" style="margin-right: 10px;" width="120px" alt="">
    </a>
    
    <form class="form-inline">
        <app-modal-core *ngIf="isUtenteLogged && isUser" [icon]="'post_add'" [descButton] = "isMobile ? '':'Nuovo Corso'" [isButton] = "true" [component] = "modalRichiestaComponent"></app-modal-core>
        <app-modal-core *ngIf="isUtenteLogged && (isWriter || isSuperUser )" [icon]="'post_add'" [descButton] = "isMobile ? '':'Nuovo Corso'" [isButton] = "true" [component] = "modalCorsoComponent"></app-modal-core>
        <button mat-button data-toggle="collapse" class="mini-button mr-2" (click)="onChangeTab(1)"
            [attr.data-target]="'#' + 'collapse' + tabName">
            <mat-icon >zoom_in</mat-icon>
        </button>
        <button mat-button class="mini-button mr-2" (click)="openSideBar()">
            <mat-icon >menu_open</mat-icon>
        </button>
    

    </form>
    

    <div class="collapse navbar-collapse" id="collapse1">
        <div class="row d-flex justify-content-center mb-2">
            <div class="col-md-5 col-xs-8">
                <input class="form-control" type="search" placeholder="nome corso ..."
                    (input)="filterListCorsi($event.target.value)">
            </div>
        </div>
    </div>
       
</div>




