.box-button-user{
    min-width: 250px !important;
}

  
  .box-img-utente {
     
      height: 150px;
      width: 150px;
      border-radius: 100%;
      text-align:center;
      margin-left: auto;
      margin-right: auto;
  }
  
  img {
    width: 114px;
    height: 39px;
    object-fit: contain;
  }
  
.card-img{
    min-height: auto; 
    max-height: auto; 
    min-width: auto;
    max-height: auto;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    text-align:center;
    margin-left: 30px;
}

