<div *ngIf="!renderPage"></div>
<div *ngIf="renderPage">
    <div class="row">
        <div class="col-12">
            <div class="box-img-utente shadow d-inline-block">
                <img *ngIf="utente.img !== undefined && utente.img !== null && utente.img !== ''" alt="Web Studio"
                class="card-img" src="{{utente.img}}" />
                <img *ngIf="utente.img === undefined || utente.img === null || utente.img === ''" alt="Web Studio"
                class="card-img" src="../../../assets/images/default.png" />
            </div>
            <div class="col-12">
                <div class="ml-2 mt-3 d-inline-block">
                    <h4>{{utente.nome}} {{utente.cognome}}</h4>
    
                </div>
                <div class="d-inline-block">
                    <button mat-button (click)="openDialog()">
                        <mat-icon style="font-size: 20px; opacity: 0.6 !important;">edit_outline</mat-icon>
                    </button>
    
                </div>

            </div>

        </div>
    </div>


    <mat-dialog-content class="mat-typography" class="p-2">
        <form class="accesso-form">
            <mat-tab-group >
                <mat-tab label="Info." class="h-100">
                    <div class="row w-100 h-100">
                        <div *ngIf="!renderEditorInfoUser" class="col-12 mt-3">
                            <button mat-button (click)="renderEditorInfoUser = !renderEditorInfoUser">
                                <h6>Modifica le tue Info.</h6>
                            </button>
                        </div>
                        <div *ngIf="!renderEditorInfoUser" class="col-12 mt-2 pl-4">
                           <div class="ml-2" [innerHtml] = "utente.descrizione"></div>
                        </div>
                        <div *ngIf="renderEditorInfoUser" class="col-12 mt-3 h-75">
                            <app-text-editor [(inputModel)] = "utente.descrizione"></app-text-editor>
                            <div class="col-12 text-right mt-2">
                                <button mat-button (click)="renderEditorInfoUser = !renderEditorInfoUser">
                                    <h5>Annulla</h5>
                                </button>
                                <button mat-button (click)="updateUser()">
                                    <h5>Salva</h5>
                                </button>
                            </div>
                        </div>
                    </div>
                   
    
                </mat-tab>
                <mat-tab label="I Tuoi Corsi">
                    <div *ngIf="utente !== undefined && utente !== null && utente.propriCorsi !== null && utente.propriCorsi.length > 0"
                        class="one-edge-shadow p-2 row w-100">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-muted" style="font-weight: 400;">I Tuoi corsi</h3>
                            </div>
                        </div>
                
                        <mat-list role="list">
                
                
                            <mat-list-item *ngFor="let corso of utente.propriCorsi" role="listitem" class="w-100 h-100 mb-2 p-1"
                                style="background: rgba(180, 180, 180, 0.2);">
                                <div class="row  w-100">
                                    <div class="col-12">
                                        <h4>{{corso.nomeCorso}}</h4>
                                    </div>
                                    <div class="col-12">
                                        <h5>{{corso.subNomeCorso}}</h5>
                                    </div>
                                    <div class="col-4 pr-2">
                                        <button mat-button (click)="goToCourse(corso)" style="color: #007bff; margin-top: -5px;">
                                            Vai al Corso
                                        </button>
                                    </div>
                                    <div class="col-8">
                                        <mat-slide-toggle [(ngModel)]="corso.enable" (click)="updateVisCorso(corso)">
                                            {{corso.enable ? 'Nascondi corso' : 'Pubblica corso'}}</mat-slide-toggle>
                                    </div>
                                </div>
                            </mat-list-item>
                
                
                        </mat-list>
                    </div>
                
                    <div  *ngIf="utente !== undefined && utente !== null && (utente.propriCorsi === undefined || utente.propriCorsi === null || utente.propriCorsi.length === 0)"
                        class="one-edge-shadow row w-100 p-2">
                        
                            <div class="col-12">
                                <h3 class="text-muted" style="font-weight: 400;">I Tuoi corsi</h3>
                            </div>
                        
                            <div class="col-12">
                                Non hai pubblicato ancora nessun corso
                            </div>
                        
                    </div>
                
                
                </mat-tab>
                <mat-tab label="I Corsi Letti">
    
                    <div *ngIf="utente !== undefined && utente !== null && utente.corsiLetti !== undefined && utente.corsiLetti !== null && utente.corsiLetti.length > 0"
                        class="one-edge-shadow row w-100 p-2">
                       
                            <div class="col-12">
                                <h3 class="text-muted" style="font-weight: 400;">I Corsi che stai leggendo</h3>
                            </div>
                        
                
                        <mat-list role="list">
                            <div *ngFor="let corso of utente.corsiLetti" class="swiper-slide">
                                <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                                    <mat-list-item role="listitem" class="mb-3 w-100">
                                      
                                            <div class="col-12">
                                                <h4>{{corso.nomeCorso}}</h4>
                                            </div>
                
                                            <div class="col-12">
                                                <button mat-button (click)="goToCourse(corso)"
                                                    style="color: #007bff; margin-top: -5px;">
                                                    Vai al Corso
                                                </button>
                                            </div>
                                        
                                    </mat-list-item>
                                </div>
                            </div>
                        </mat-list>
                    </div>
                
                    <div *ngIf="utente !== undefined && utente !== null && (utente.corsiLetti === undefined || utente.corsiLetti === null || utente.corsiLetti.length === 0)"
                        class="one-edge-shadow row w-100 p-2">
                        
                            <div class="col-12">
                                <h3 class="text-muted" style="font-weight: 400;">I Corsi che stai seguendo</h3>
                            </div>
                       
                            <div class="col-12">
                                Non stai seguendo alcun corso
                            </div>
                       
                    </div>
                    
    
                </mat-tab>
            </mat-tab-group>
        </form>
    </mat-dialog-content>

</div>