<div *ngIf="!renderPage"></div> 
<div *ngIf="renderPage">
    <app-card-utente [utente] = "utente" [isSideBar] ="false" [isCardCorso] ="false" [editInfo]="!extraUtenteLogged"></app-card-utente>


    <mat-dialog-content class="mat-typography" class="p-2">
        <form class="accesso-form">
            <mat-tab-group >
                <mat-tab label="Info." class="h-100">
                    <div class="row w-100 h-100">
                        <div *ngIf="!renderEditorInfoUser && !extraUtenteLogged" class="col-12 mt-3">
                            <button mat-button (click)="renderEditorInfoUser = !renderEditorInfoUser">
                                <h6>Modifica le tue Info.</h6>
                            </button>
                        </div>
                        <div *ngIf="!renderEditorInfoUser" class="col-12 mt-2 pl-4">
                           <div class="ml-2" [innerHtml] = "utente.descrizione"></div>
                        </div>
                        <div *ngIf="renderEditorInfoUser" class="col-12 mt-3 h-75">
                            <app-text-editor [(inputModel)] = "utente.descrizione"></app-text-editor>
                            <div class="col-12 text-right mt-2">
                                <button mat-button (click)="renderEditorInfoUser = !renderEditorInfoUser">
                                    <h5>Annulla</h5>
                                </button>
                                <button mat-button (click)="updateUser()">
                                    <h5>Salva</h5>
                                </button>
                            </div>
                        </div>
                    </div>
                   
    
                </mat-tab>
                <mat-tab label="{{extraUtenteLogged ? 'I Suoi Corsi' : 'I Tuoi Corsi'}}">
                
                    <div *ngFor="let corso of utente.propriCorsi" class="row w-100 p-3 mt-3" style="background-color: #f6f6f6; min-width: 100%;">
                        
                        <div class="col-2 d-flex justify-content-center align-items-center my-auto">
                            
                            <img *ngIf="corso.image !== undefined && corso.image !== null && corso.image !== ''" alt="Web Studio"
                            class="card-img" src="{{corso.image}}" />
                            <img *ngIf="corso.image === undefined || corso.image === null || corso.image === ''" alt="Web Studio"
                            class="card-img" src="../../../assets/images/default.png" /> 
                            
                        </div>
                        <div class="col-8 pt-2 pl-5">
                            <div class="col-12">
                                <h4>{{corso.nomeCorso}}</h4>
                            </div>
                            <div class="col-12">
                                <h5>{{corso.subNomeCorso}}</h5>
                            </div>
                            <div class="col-12">
                                <ngx-stars [readonly]="true" [size]="0.8" [color]="'#007bff'" [initialStars]="0"></ngx-stars>
                            </div>
                        </div>
                        <div class="col-2 text-right pr-0">
                        
                            <app-edit-menu 
                            [owner] = "corso.owner"
                            [typePadre] = "'C'" 
                            [section] = "'Corso'" 
                            [withVideo] = "false"
                            [withAdd] = "false"
                            [obj] = "corso"
                            [withElimina] = "true"
                            [withModifica] = "true"
                            [withInfo] = "true"
                            [withGoTo] = "true"
                            [withDisable] = "true" >
                            </app-edit-menu>
                    
                        </div>
                    </div>
                          
                   
                
                
                </mat-tab>
                <mat-tab *ngIf="!extraUtenteLogged" label="I Corsi Letti">
    
                    <div *ngIf="utente !== undefined && utente !== null && utente.corsiLetti !== undefined && utente.corsiLetti !== null && utente.corsiLetti.length > 0"
                        class="one-edge-shadow row w-100 p-2">
                       
                            <div class="col-12">
                                <h3 class="text-muted" style="font-weight: 400;">I Corsi che stai leggendo</h3>
                            </div>
                        
                
                        <mat-list role="list">
                            <div *ngFor="let corso of utente.corsiLetti" class="swiper-slide">
                                <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                                    <mat-list-item role="listitem" class="mb-3 w-100">
                                      
                                            <div class="col-12">
                                                <h4>{{corso.nomeCorso}}</h4>
                                            </div>
                
                                            <div class="col-12">
                                                <button mat-button (click)="goToCourse(corso)"
                                                    style="color: #007bff; margin-top: -5px;">
                                                    Vai al Corso
                                                </button>
                                            </div>
                                        
                                    </mat-list-item>
                                </div>
                            </div>
                        </mat-list>
                    </div>
                
                    <div *ngIf="utente !== undefined && utente !== null && (utente.corsiLetti === undefined || utente.corsiLetti === null || utente.corsiLetti.length === 0)"
                        class="one-edge-shadow row w-100 p-2">
                        
                          
                       
                            <div class="col-12 d-flex justify-content-center mt-3">
                                Non stai seguendo alcun corso
                            </div>
                       
                    </div>
                    
    
                </mat-tab>
            </mat-tab-group>
        </form>
    </mat-dialog-content>

</div>