<div *ngIf="!renderPage"></div> 
<div  class="w-100" *ngIf="renderPage">
    <app-card-utente [utente] = "utente" [isSideBar] ="false" [isCardCorso] ="false" [editInfo]="!extraUtenteLogged"></app-card-utente>


    <mat-dialog-content class="mat-typography" class="p-2">
        <form class="accesso-form">
            <mat-tab-group [selectedIndex]="activeTab" mat-stretch-tabs>
                <mat-tab class="h-100" class="h-100">
                    <ng-template mat-tab-label>
                        <mat-icon class="material-icons-outlined mr-2"> perm_identity</mat-icon>Info.
                    </ng-template>
                    <div class="row w-100 h-100">
                        <div *ngIf="!renderEditorInfoUser && !extraUtenteLogged" class="col-12 mt-3">
                            <button mat-button (click)="renderEditorInfoUser = !renderEditorInfoUser">
                                <h6>Modifica le tue Info.</h6>
                            </button>
                        </div>
                        <div *ngIf="!renderEditorInfoUser" class="col-12 mt-2 pl-4">
                           <div class="ml-2" [innerHtml] = "utente.descrizione"></div>
                        </div>
                        <div *ngIf="renderEditorInfoUser" class="col-12 mt-3 h-75">
                            <app-text-editor [(inputModel)] = "utente.descrizione"></app-text-editor>
                            <div class="col-12 text-right mt-2">
                                <button mat-button (click)="renderEditorInfoUser = !renderEditorInfoUser">
                                    <h5>Annulla</h5>
                                </button>
                                <button mat-button (click)="updateUser()">
                                    <h5>Salva</h5>
                                </button>
                            </div>
                        </div>
                    </div>
                   
    
                </mat-tab>
                <mat-tab >

                    <ng-template mat-tab-label>
                        <mat-icon class="mr-2">list</mat-icon> I Tutorial
                    </ng-template>
                
                    <div *ngFor="let corso of utente.propriCorsi" class="row w-100 p-3 mt-3 ml-0" style="background-color: #f6f6f6; min-width: 100%;">
                        
                        <div class="col-2 d-flex justify-content-center align-items-center my-auto">
                            
                            <img *ngIf="corso.image !== undefined && corso.image !== null && corso.image !== ''" alt="Web Studio"
                             src="{{corso.image}}" />
                            <img *ngIf="corso.image === undefined || corso.image === null || corso.image === ''" alt="Web Studio"
                             src="../../../assets/images/default.png" /> 
                            
                        </div>
                        <div class="col-8 pt-2 pl-5">
                            <div class="col-12">
                                <h4>{{corso.nomeCorso}}</h4>
                            </div>
                            <div class="col-12">
                                <h5>{{corso.subNomeCorso}}</h5>
                            </div>
                            <div class="col-12">
                                <ngx-stars [readonly]="true" [size]="0.8" [color]="'#007bff'" [initialStars]="corso.mediumFeeds"></ngx-stars>
                            </div>
                        </div>
                        <div class="col-2 text-right pr-0">
                        
                            <app-edit-menu 
                            [owner] = "corso.owner"
                            [typePadre] = "'C'" 
                            [section] = "'Tutorial'" 
                            [withVideo] = "false"
                            [withAdd] = "false"
                            [obj] = "corso"
                            [withElimina] = "true"
                            [withModifica] = "true"
                            [withInfo] = "true"
                            [withGoTo] = "true"
                            [withDisable] = "true" >
                            </app-edit-menu>
                    
                        </div>
                    </div>
                          
                   
                
                
                </mat-tab>

                <mat-tab *ngIf="!extraUtenteLogged && 'W' === utente.tipo.codice" >

                    <ng-template mat-tab-label>
                        <mat-icon class="mr-2">account_balance</mat-icon> Saldo 
                    </ng-template>


                    <div class="row w-100 ml-0">
                        <div class="col-12 d-flex justify-content-center mt-5 mb-5">
                            <button (click)="getResoconto()" mat-button >
                                <h5 class="no-margin">{{resoconto.loaded? 'Aggiorna Dati':'Visualizza dati'}}</h5>
                            </button>
    
                            
                        </div>

                    </div>
                
                   
                    <div *ngIf="resoconto.loaded" class="row w-100 ml-0 pl-0 pr-0">
                        <div class="col-12">

                            <div class="col-12 ">
                                <h3>Saldo</h3>
                            </div>
                            <div class="col-12 ">
                                <hr/>
                            </div>
                            <div class="row ">
                               <div class="col-3">
                                   <div class="col-12">
                                       <h5>Saldo Totale</h5>
                                   </div>
                                   <div class="col-12 d-flex ">
                                       {{saldoTotale > 0 ? saldoTotale / 100 : saldoTotale}} {{utente.bank.currency}}
                                   </div>
                               </div>
                               <div class="col-3">
                                <div class="col-12">
                                    <h5>Bonifici futuri</h5>
                                </div>
                                <div class="col-12 d-flex ">
                                    {{bonificiFuturi > 0 ? bonificiFuturi / 100 : bonificiFuturi}} {{utente.bank.currency}}
                                </div>
                               </div>
                               <div class="col-3">
                                <div class="col-12">
                                    <h5>In transito verso la banca</h5>
                                </div>
                                <div class="col-12 d-flex ">
                                    {{InTransito > 0 ? InTransito / 100 : InTransito}} {{utente.bank.currency}}
                                </div>
                               </div>
                            </div>


                        </div>
                        <div class="col-12 mt-5">
                            <div class="col-12 ">
                                <h3>Pagamenti</h3>
                            </div>
                            <div class="col-12 ">
                                <hr/>
                            </div>

                            <div *ngFor="let payment of resoconto.listPagamenti" class="row p-3 pl-0 pr-0">
                                <div class="col-4">
                                    <div class="col-12">
                                        <h5>Importo</h5>
                                    </div>
                                    <div class="col-12 d-flex ">
                                        {{payment.amount > 0 ? payment.amount / 100 : 0}} {{utente.bank.currency}}
                                        <h6 class="ml-3" [ngStyle] =  "{'color':payment.status.color}">{{payment.status.status}}</h6>
                                    </div>
                                </div>
                                <div class="col-5">
                                 <div class="col-12">
                                    <h5>Descrizione</h5>
                                 </div>
                                 <div class="col-12 d-flex ">
                                     {{payment.description}}
                                 </div>
                                </div>
                                <div class="col-2">
                                    <div class="col-12">
                                       <h5>Commissione</h5>
                                    </div>
                                    <div class="col-12 d-flex ">
                                        {{payment.applicationFeeAmount > 0 ? payment.applicationFeeAmount / 100 : 0}} {{utente.bank.currency}}
                                        
                                    </div>
                                   </div>
                                <div class="col-12 ">
                                    <hr/>
                                </div>
                              
                             </div>
                        </div>
                    </div>
                
                
                </mat-tab>
            
            </mat-tab-group>
        </form>
    </mat-dialog-content>

</div>