<div class="row">
    <div class="col-12 padre pt-5">
        <div class="box">
    
            <div class="title">
                <span class="block"></span>
                <h1>Ilmiocodice.com<span></span></h1>
            </div>
    
            <div class="role">
                <div class="block"></div>
                <p>Condividi il tuo codice e crea valore con noi</p>
            </div>
            <div class="block-button">
                <div class="block"></div>
                <button mat-button color="accent">
                   
                    Crea il tuo corso
                </button>

            </div>
            
    
        </div>
    </div>

</div>

