<div #titleIlMioCodice class="row w-100 ml-0">
    <div class="col-12 padre">
        <div class="box">
    
            <div class="title"> 
                <span class="block"></span>
                <h1>Ilmiocodice.com<span></span></h1>
            </div>
    
            <div class="role">
                <div class="block"></div>
                <p>Condividi il tuo codice e crea valore con noi</p>
            </div>
            <div class="d-flex justify-content-center block-button">
                <div class="block"></div>
                <button mat-flat-button color="accent" (click) = "add()">Condividi ora</button>
               

            </div>
            
    
        </div>
    </div>

</div>

