

<mat-dialog-content class="mat-typography pl-0 pr-0">
    <div class="card card-custom bg-white border-white">
        <div class="modal-custom-img-corso " [ngStyle]="{'background-color': '#dddddd'}" >
            
        </div>
        <div class="card-custom-corso">
            <img *ngIf="corso.image !== undefined && corso.image !== null"  src="{{corso.image}}" alt="Red dot" />
            <img *ngIf="corso.image === undefined || corso.image === null || corso.image === ''" alt="Web Studio" class="card-img" src="../../../assets/images/default.png" /> 
        </div> 
        
        <app-cropper (base65) = "retrieveImg($event)"></app-cropper>

        

      

            <!-- <div class="col-12 mt-3 mb-3 d-flex justify-content-center">
                <mat-slide-toggle *ngIf="enableCorsoAPagamento" [(ngModel)]="corso.aPagamento">Corso a Pagamento</mat-slide-toggle>
            </div> -->
       
            <div *ngIf="!addDescrizione" class="col-12 mt-3 d-flex justify-content-center "> 
                <mat-form-field class="example-form-field">
                    <mat-label>Nome tutorial</mat-label>
                    <input matInput type="text" [(ngModel)]="corso.nomeCorso">
                    <button mat-button *ngIf="corso.nomeCorso" matSuffix mat-icon-button aria-label="Clear" (click)="corso.nomeCorso=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div *ngIf="!addDescrizione" class="col-12 d-flex justify-content-center ">
                <mat-form-field class="example-form-field">
                    <mat-label>Breve descrizione del tutorial</mat-label>
                    <input matInput type="text" [(ngModel)]="corso.subNomeCorso">
                    <button mat-button *ngIf="corso.subNomeCorso" matSuffix mat-icon-button aria-label="Clear"
                        (click)="corso.subNomeCorso=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
     
        <div class="row mb-2 mt-4" *ngIf="corso.aPagamento && !addDescrizione">
            <div class="col-12 d-flex justify-content-center">
                <mat-form-field >
                    <mat-label>Prezzo</mat-label>
                    <input matInput type="number" [(ngModel)]="corso.prezzo" class="example-right-align">
                    <span matPrefix>€&nbsp;</span>
                    <span matSuffix>.00</span>
                  </mat-form-field>
            </div>
        </div>


        <div *ngIf="!isShowSaveTipo && (corso.id === undefined || corso.id === 0) && !addDescrizione" class="row  form-group mt-3">
           
            <div class="col-12  d-flex justify-content-center">
                <button class="pl-0" mat-button [matMenuTriggerFor]="menu">{{labelTipoCorso}}</button>
                <mat-menu #menu="matMenu">
                    <div *ngFor="let tipo of tipoCorsoList">
                        <button mat-menu-item (click)="changeTipoCorso(tipo)">{{tipo.descrizione}}</button>
                    </div>
                </mat-menu>
               
            </div>
           
        </div>
    
       
     
    
    
    
    
        <div *ngIf="!isShowSaveSubTipo && tipoCorso !== undefined && tipoCorso !== null && !addDescrizione" class="row form-group">
            <div class="col-12 d-flex justify-content-center">
    
                <button mat-button [matMenuTriggerFor]="menu">{{labelSubTipoCorso}}</button>
                <mat-menu #menu="matMenu">
                    <div *ngFor="let tipo of tipoCorso.sottoTipi">
                        <button mat-menu-item (click)="changeSubTipoCorso(tipo)">{{tipo.descrizione}}</button>
                    </div>
                </mat-menu>
    
            </div>
           
        </div>

        <div *ngIf="!addDescrizione" class="row mb-2">
            <div class="col-12 d-flex justify-content-center">
                <button mat-button (click) = "addDescrizione = true">
                    <h6>Di che cosa tratta il tuo tutorial ?</h6>
                </button>
            </div>
        </div>
    
       
     
             
    
        <div *ngIf="addDescrizione" class="row mb-2">
            <div class="col-12 d-flex justify-content-center">
                <button mat-button (click) = "addDescrizione = false">
                    <h6>Annulla</h6>
                </button>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <p>Spiega di cosa tratta il tutorial</p>
            </div>
            <div class="col-12 d-flex justify-content-center">
                
                <app-text-editor [(inputModel)] = "corso.descrizioneCorso" style="width: 90%;"></app-text-editor>
            </div>
        </div>


       
      
    </div> 
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="salva()"
        [disabled]="disableSave">Salva</button>
</mat-dialog-actions>