.menu-form-field {
    width: 40vh;
}

.example-form-field{
    width: 280px;
}

.NgxEditor__Wrapper{
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 4px;
    min-height: 150px !important;
    height: auto;
}




.card-custom {
    overflow: hidden;
    border: 0;
    box-shadow: 0 0 2px rgba(10, 10, 10, 0.3);
  }
  



  .button-add-image{
    position: absolute;
    top: 70px;
    left: 0px;
    border-radius: 50%;
  }

  .input-color{
    visibility: hidden;
    width: 5px;

  }

  .button-color{
    position: absolute;
    top: 80px;
    left: 70%;
    width: 60px;
  }

  .mat-button-wrapper{
    width: 100%;
  }

  .modal-custom-img-corso {
    height: 90px;
    min-height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit; 
    
  }
  
  .modal-custom-img-corso::after {
    position: absolute;
    content: "";
    top: 28px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 77px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 531px;
    border-left-width: calc(417px - -58vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
    
  }



