.menu-form-field {
    width: 40vh;
}

.example-form-field{
    width: 280px;
}

.NgxEditor__Wrapper{
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 4px;
    min-height: 200px !important;
    height: auto;
}




.card-custom {
    overflow: hidden;
    min-height: 245px;
    border: 0;
    box-shadow: 0 0 2px rgba(10, 10, 10, 0.3);
  }
  



  .button-add-image{
    position: absolute;
    top: 70px;
    left: 0px;
    border-radius: 50%;
  }

  .input-color{
    visibility: hidden;
    width: 5px;

  }

  .button-color{
    position: absolute;
    top: 80px;
    left: 70%;
    width: 60px;
  }

  .mat-button-wrapper{
    width: 100%;
  }



