@media all and (max-width: 400px){


    .card-custom-img-corso {
      height: 100px;
      min-height: 100px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-color: inherit; 
      
    }
    
    .card-custom-img-corso::after {
      position: absolute;
      content: '';
      top: 60px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-top-width: 40px;
      border-right-width: 0;
      border-bottom-width: 0;
      border-left-width: 545px;
      border-left-width: calc(575px - 5vw);
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: inherit;
      
    }
    .cdk-overlay-pane {
      min-width: 97% !important
  }
  .mat-dialog-content {
    max-height: 60vh !important;
  }
  img{
    max-width: 350px !important;
  }
  .CodeMirror-sizer{
    min-width: 350px !important;
    max-width: 350px !important;
  }
  .slick-slide {
  
    outline: 0 !important;
    height: auto !important;
    
    
  }
  
  .card-custom-corso img {
  
    border: 2px solid rgba(255, 255, 255, 0.125);
     
    border-radius: 0.25rem;
    box-shadow: 0 0 5px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 20px;
    left: 1.25rem;
    width: 80px;
    height: 80px;
    background-color: white;
  }

  
}