/* You can add global styles to this file, and also import other style files */
.card-img-top {
    width: 80%; 
    height: 80%; 
    object-fit: contain; 
} 

.card-body-fix {
    margin-top: -3rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-container {
    width: 100%;
    height: 100%;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
