@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/idea.css';
@import '~codemirror/theme/eclipse';
@import '~codemirror/addon/fold/foldgutter.css';
@import '~codemirror/addon/lint/lint.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

button:focus { outline:0 !important; }

.swiper-pagination {
  bottom: 10px !important;
}

.stars-line{
  z-index: 9;
}

.CodeMirror {
  height: auto;
}

p{
  font-family: Amazon Ember,Amazon Arabic Ember,Arial,sans-serif !important; 
  line-height: 1.4;
  font-weight: 700 !important;
}

h1{
  font-family: Amazon Ember,Amazon Arabic Ember,Arial,sans-serif !important; 
  font-size: calc(25px + (20 - 18) * ((100vw - 300px) / (1600 - 300))) !important;
  line-height: 1.4;
  font-weight: 700 !important;
}

h2{
  font-family: Amazon Ember,Amazon Arabic Ember,Arial,sans-serif !important; 
  font-size: calc(20px + (20 - 18) * ((100vw - 300px) / (1600 - 300))) !important;
  line-height: 1.4 !important;
  font-weight: 700 !important;
}

h3{
  font-family: Amazon Ember,Amazon Arabic Ember,Arial,sans-serif !important; 
  font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300))) !important;
  line-height: 1.4;
  font-weight: 700 !important
}

h4{
  font-family: Amazon Ember,Amazon Arabic Ember,Arial,sans-serif !important; 
  font-size: calc(14px + (20 - 18) * ((100vw - 300px) / (1600 - 300))) !important;
  line-height: 1.4;
  font-weight: 600 !important;
  opacity: 0.6 !important;
}

h5{
  font-family: Amazon Ember,Amazon Arabic Ember,Arial,sans-serif !important; 
  font-size: calc(12px + (20 - 18) * ((100vw - 300px) / (1600 - 300))) !important;
  line-height: 1.4;
  font-weight: 600 !important;
  opacity: 0.6 !important;
}

h6{
  font-family: Amazon Ember,Amazon Arabic Ember,Arial,sans-serif !important; 
  font-size: calc(10px + (20 - 18) * ((100vw - 300px) / (1600 - 300))) !important;
  line-height: 1.4;
  opacity: 0.5;
  font-weight: 400 !important;
}
