@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/idea.css";
@import "~codemirror/theme/eclipse";
@import "~codemirror/addon/fold/foldgutter.css";
@import "~codemirror/addon/lint/lint.css";
/* Add application styles & imports to this file! */
@import url("https://fonts.googleapis.com/css?family=Spectral+SC:700");

@import "~ngx-sharebuttons/themes/material/material-dark-theme";
@import "~ngx-sharebuttons/themes/modern/modern-light-theme";

html,
body {
  position: relative;
  background-color: #f3f2f0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.no-margin {
  margin: 0px 0 0px !important;
}

.op-20 {
  opacity: 0.2 !important;
}

.op-40 {
  opacity: 0.4 !important;
}

.op-50 {
  opacity: 0.5 !important;
}

.op-70 {
  opacity: 0.7 !important;
}
.op-100 {
  opacity: 1 !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.mtn-25 {
  margin-top: -25px !important;
}
.mtn-20 {
  margin-top: -20px !important;
}
.mtn-15 {
  margin-top: -15px !important;
}
.mtn-10 {
  margin-top: -10px !important;
}

.mtn-7 {
  margin-top: -7px !important;
}

.mtn-6 {
  margin-top: -6px !important;
}

.mtn-5 {
  margin-top: -5px !important;
}

.mtn-3 {
  margin-top: -3px !important;
}
.mtn-2 {
  margin-top: -2px !important;
}

.br-0{
   border-radius: 0px !important;
}

.br-5{
  border-radius: 5px !important;
}
.br-7{
  border-radius: 7px !important;
}
.br-10{
  border-radius: 10px !important;
}
.br-12{
  border-radius: 12px !important;
}
.br-15{
  border-radius: 15px !important;
}
.brtl-0{
   border-top-left-radius: 0px !important;
}
.brtl-5{
   border-top-left-radius: 5px !important;
}
.brtl-7{
   border-top-left-radius: 7px !important;
}
.brtl-10{
   border-top-left-radius: 10px !important;
}
.brtl-12{
   border-top-left-radius: 12px !important;
}
.brtl-15{
   border-top-left-radius: 15px !important;
}

.brtr-0{
   border-top-right-radius: 0px !important;
}
.brtr-5{
   border-top-right-radius: 5px !important;
}
.brtr-7{
   border-top-right-radius: 7px !important;
}
.brtr-10{
   border-top-right-radius: 10px !important;
}
.brtr-12{
   border-top-right-radius: 12px !important;
}
.brtr-15{
   border-top-right-radius: 15px !important;
}

.brbr-0{
   border-bottom-right-radius: 0px !important;
}
.brbr-5{
   border-bottom-right-radius: 5px !important;
}
.brbr-7{
   border-bottom-right-radius: 7px !important;
}
.brbr-10{
   border-bottom-right-radius: 10px !important;
}
.brbr-12{
   border-bottom-right-radius: 12px !important;
}
.brbr-15{
   border-bottom-right-radius: 15px !important;
}

.brbl-0{
   border-bottom-left-radius: 0px !important;
}
.brbl-5{
   border-bottom-left-radius: 5px !important;
}
.brbl-7{
   border-bottom-left-radius: 7px !important;
}
.brbl-10{
   border-bottom-left-radius: 10px !important;
}
.brbl-12{
   border-bottom-left-radius: 12px !important;
}
.brbl-15{
   border-bottom-left-radius: 15px !important;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

video {
  outline: none;
}

button:focus {
  outline: 0 !important;
}

.swiper-pagination {
  bottom: 10px !important;
}

.stars-line {
  z-index: 9;
}

.CodeMirror {
  height: auto;
}

.cc-window.cc-invisible {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.mat-tab-labels {
  justify-content: center;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 9999;
}

.mat-paginator-container {
  min-height: 40px;
}

.mat-dialog-content {
  background-color: white !important;
}

.mat-dialog-container {
  background-color: rgb(244, 244, 244);
}

.bgc-gray {
  background-color: #f6f6f6;
}

.bgc-blue {
  background-color: #00a0e0 !important;
}

.mat-expansion-panel-header:not([aria-disabled="true"]) {
  background-color: #f9f9f9;
}

.mat-form-field {
  min-width: 270px;
}

.mat-horizontal-stepper-header {
  height: 50px;
}

.carousel {
  height: 100%;
}

.slick-slider .slick-list {
  height: 100%;
}

.slick-dots li.slick-active button:before {
  font-size: 10px;
  color: #5b5b5b !important;
}

.sb-wrapper {
  min-width: 2.125em !important;
}

.slick-list {
  padding: 0 20% 0 0;
}

.mat-dialog-container {
  padding-top: 0px !important;
}

.NgxEditor {
  padding: 10px !important;
}

.slick-slider .slick-list {
  height: auto !important;
}

.fa-user-check {
  color: #00a0e0 !important;
  size: 20px;
}

.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: rgb(241, 241, 241);
  color: black;
  font-weight: 700;
}

.mat-tab-label {
  padding: 0px 5px !important;
}

.popover-body {
  padding: 0px !important;
  width: auto !important;
}

.desc-html ul {
  margin-bottom: 0px !important;
  padding-left: 0px !important;
}

marquee ul {
  padding: 5px;
}

hr {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.sb-icon {
  font-size: 1em !important;
}

.sb-wrapper {
  height: 1.6em;
}

.sb-whatsapp {
  color: #25d366 !important;
}
.sb-facebook {
  color: #4267b2 !important;
}

.sb-linkedin {
  color: #006fa6 !important;
}

.sb-email {
  color: #ff961c !important;
}

.mat-tab-label {
  height: 40px !important;
}

.material-icons {
  font-size: 20px !important;
}

.blockquote {
  border-left-color:#00a0e0 !important;
  padding: 1rem 1rem !important;
}

.slick-dots {
  bottom: 3px !important;
}
