/* You can add global styles to this file, and also import other style files */
.card-img-top {
    width: 80%; 
    height: 80%; 
    object-fit: contain; 
} 

.card-body-fix {
    margin-top: -3rem;
}
