.card-custom {
    overflow: hidden;
    min-height: 230px;
    
    border: 0;
    box-shadow: 0 0 0px rgba(10, 10, 10, 0.3);
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}


.button-link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }

  app-card-feedback{
      width: 100%;
  }