
<div class="card card-custom bg-white border-white">
    <div class="card-custom-img" [ngStyle]="{'background-color': corso.colorCard} ">

    </div>
    <div class="card-custom-avatar">

      <img *ngIf="corso.image !== undefined && corso.image !== null && corso.image !== ''" alt="Web Studio"
        class="img-fluid" src="{{corso.image}}" />
      <img *ngIf="corso.image === undefined || corso.image === null || corso.image === ''" alt="Web Studio"
        class="img-fluid" src="../../../assets/images/default.png" />
    </div>
    <div class="card-body" style="overflow-y: auto">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h2><b>{{corso.nomeCorso}}</b></h2>
        </div>
      </div>
      <div *ngIf="corso.subNomeCorso !== undefined && corso.subNomeCorso !== null && corso.subNomeCorso !==  ''"
        class="row mtn-10">
        <div class="col-12 d-flex justify-content-center">
          <h4><b>{{corso.subNomeCorso}}</b></h4>
        </div>
      </div>

      <div *ngIf="!showFeeds" class="row d-flex justify-content-center mt-2">
        <div class="d-inline">
          <ngx-stars style="z-index: 9;" [readonly]="true" [size]="1" [color]="'#007bff'"
            [initialStars]="getMediumFeeds"></ngx-stars>
        </div>
        <div class="d-inline" style="margin-top: -2px; margin-left: 4px;">

          <button (click)="changeView()" class="button-link">({{corso.feeds.length}})</button>
        </div>
      </div>

      <div *ngIf="showFeeds" class="row d-flex justify-content-center">
        <div class="d-inline" style="margin-top: -2px; margin-left: 4px;">
          <a (click)="changeView()" class="stretched-link">Indietro</a>
        </div>
      </div>


      <div *ngIf="isUtenteLogged" class="row d-flex justify-content-center mt-1">
        <button mat-button (click)="addLezione()" style="color: #6c757d;">
          <mat-icon style="margin-top: -3px;">add</mat-icon>
          Nuovo Step
        </button>
      </div>

      <div *ngIf="!newFeed" class="row d-flex justify-content-center mt-1">
        <button mat-button (click)="newFeed = true" style="color: #6c757d;">
          <mat-icon style="margin-top: -3px;">comment</mat-icon>
          Lascia un Feedback al corso
        </button>
      </div>
      <div *ngIf="!newFeed" class="col-12  d-flex  justify-content-center">
        <app-share [url] = "url" [small] = "false" [title] = "corso.nomeCorso" [description] = "corso.subNomeCorso"></app-share>
      </div>

      <div *ngIf="newFeed" class="row mt-1 ">
        <div class="col-12 mb-2 d-flex  justify-content-center">
          <button mat-button (click)="newFeed = false" style="color: #6c757d;">
            Annulla
          </button>
          <button *ngIf= "feed.comment !== undefined && feed.comment !== null && feed.comment !== ''" mat-button (click)="salvaFeed()" style="color: #6c757d;">
            salva
          </button>
        </div>

        <div class="col-12  d-flex  justify-content-center">
          <mat-form-field style="width: 350px;" class="example-form-field">
           
            <textarea style="height: 100px; background-color: #f4f4f4;"  matInput placeholder="Lascia il tuo commento qui" [(ngModel)]="feed.comment"></textarea>

          </mat-form-field>
        </div>
        <div class="col-12  d-flex  justify-content-center">
          <ngx-stars (ratingOutput)="onRatingSet($event)" [readonly]="false" [size]="2" [color]="'#007bff'" [initialStars]="feed.feed"></ngx-stars>
        </div>
        
      </div>
      



    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-12 d-flex justify-content-center p3">
          <h4>Informazioni sul corso</h4>
        </div>
        <div class="container" [innerHTML]="corso.descrizioneCorso"></div>
      </div>

    </div>
  </div>