<div (click)= "isFlipped = !isFlipped " [ngStyle] = "{'width':width + 'px'}" class="card  shadow-sm h-auto p-1" >
  <div *ngIf="!isFlipped">
    
    <div class="row w-100 ml-0 row-height">
      <div class="d-flex col-3 pl-1 pr-0 pt-2 pb-2">
        <img *ngIf="corso.image !== undefined && corso.image !== null && corso.image !== ''" alt="Card image cap"
        src="{{corso.image}}" class="align-self-center " />
        <img *ngIf="corso.image === undefined || corso.image === null || corso.image === ''" alt="Card image cap"
          src="../../../assets/images/default.png" class="align-self-center" />
         
            <app-info-utente *ngIf="false" [ngClass]="isDevice ? 'app-info-utente-sm': 'app-info-utente'" [corso]="corso" [utente]="corso.owner" [isCardCorso]="true"></app-info-utente>
    
         
      </div>
      <div class="col-9 pl-2 pr-1 ">
        <h5 class="card-title op-100 mt-2"><strong>{{corso.nomeCorso}}</strong></h5>
        <p class="card-text mtn-10">{{corso.subNomeCorso}}</p>
        
        
        
      </div>
    </div>
    <div class="card-footer d-flex justify-content-center pt-0 pb-0">
      <app-share  [url]="url" [title]="corso.nomeCorso" [description]="corso.subNomeCorso"></app-share>
    </div>
  </div>
  <div *ngIf="isFlipped">
    <div class="card-header pt-0 pb-0 d-flex justify-content-center">
      <h4 class="mt-2">Informazioni sul tutorial</h4>
    </div>
    <div class="card-body desc-corso pl-1 pr-1 pt-1 pb-0 d-flex justify-content-center bg-white ">
      <marquee style="min-height: 80px;max-height: 80px;"
        *ngIf="corso.descrizioneCorso !== undefined && corso.descrizioneCorso !== null && corso.descrizioneCorso !== ''"
        behavior="scroll" scrollamount="2" direction="up" [innerHtml]="corso.descrizioneCorso"></marquee>

      <div
        *ngIf="corso.descrizioneCorso === undefined || corso.descrizioneCorso === null || corso.descrizioneCorso === ''">
        <p>Nessuna informazione sul tutorial in questione</p>
      </div>

    </div>
    <div class="card-footer d-flex pt-0 pb-0">

     
      <button  mat-button (click)="continua(corso)" style="color: #00a0e0;">
        {{labelButton}}
      </button>
      

      <app-edit-menu class="ml-auto" [owner]="corso.owner" [typePadre]="'C'" [section]="'Tutorial'" [withVideo]="false"
        [withAdd]="false" [obj]="corso" [withElimina]="true" [withModifica]="true">
      </app-edit-menu>

    </div>
  </div>
</div>
