<div (click)= "isFlipped = !isFlipped " [ngStyle] = "{'width':width + 'px'}" class="card  shadow-sm h-auto p-1" >
  <div *ngIf="!isFlipped">

    <app-rating-corso [ngClass]="isDevice ? 'app-info-utente-sm': 'app-info-utente'" [corso]="corso"></app-rating-corso>
    
    <div class="row w-100 ml-0 row-height">
      <div class="d-flex col-3 pl-1 pr-1 pt-2 pb-2">
        <img *ngIf="corso.image !== undefined && corso.image !== null && corso.image !== ''" alt="Card image cap"
        src="{{corso.image}}" class="align-self-center mt-1" />
        <img *ngIf="corso.image === undefined || corso.image === null || corso.image === ''" alt="Card image cap"
          src="../../../assets/images/default.png" class="align-self-center" />
         
          
          
        </div>
        <div class="col-9 pl-2 pr-1  pt-3">
          <h5 class="card-title lh-15 mt-1 op-100"><strong>{{corso.nomeCorso}}</strong></h5>
          <p class="card-text lh-13 mtn-5">{{corso.subNomeCorso}}</p>
          <app-info-utente [utente]="corso.owner" [isCardCorso]="true"></app-info-utente>
        
        
        
        </div>
    </div>
    <div class="card-footer p-0">
      <div class="row w-100 ml-0">
        <div class="col-6 d-flex text-left">

        </div>
        <div class="col-6 text-right pr-0">
          <button  mat-button (click)="share(); $event.stopPropagation();" style="color: #ff9efd;">
            Condividi
            <mat-icon class="mt" >share</mat-icon>
            
          </button>
        </div>
      </div>
     
    </div>
  </div>
  <div *ngIf="isFlipped">
    <div class="card-header pt-0 pb-0 d-flex justify-content-center">
      <h4 class="mt-2">Informazioni sul tutorial</h4>
    </div>
    <div class="card-body desc-corso pl-1 pr-1 pt-1 pb-0 d-flex justify-content-center bg-white ">
      <marquee style="min-height: 80px;max-height: 80px;"
        *ngIf="corso.descrizioneCorso !== undefined && corso.descrizioneCorso !== null && corso.descrizioneCorso !== ''"
        behavior="scroll" scrollamount="2" direction="up" [innerHtml]="corso.descrizioneCorso"></marquee>

      <div
        *ngIf="corso.descrizioneCorso === undefined || corso.descrizioneCorso === null || corso.descrizioneCorso === ''">
        <p>Nessuna informazione sul tutorial in questione</p>
      </div>

    </div>
    <div class="card-footer d-flex pt-0 pb-0">

     
      <button  mat-button (click)="continua(corso)" style="color: #00a0e0;">
        {{labelButton}}
      </button>
      

      <app-edit-menu class="ml-auto" [owner]="corso.owner" [typePadre]="'C'" [section]="'Tutorial'" [withVideo]="false"
        [withAdd]="false" [obj]="corso" [withElimina]="true" [withModifica]="true">
      </app-edit-menu>

    </div>
  </div>
</div>
