


<div class="card-corso card bgc-gray " (click)="playGame(card , corso)" [@flipCard]="card.isFlipped">
  <div class="card-box front w-100">
    <div class="card-box-img ">
      <img *ngIf="corso.image !== undefined && corso.image !== null && corso.image !== ''" alt="Card image cap"
        src="{{corso.image}}"  />
      <img *ngIf="corso.image === undefined || corso.image === null || corso.image === ''" alt="Card image cap"
        src="../../../assets/images/default.png"  />

    </div>
    <div class="w-100">
      <hr/>
    </div>
    <div class="pr-2 pl-2 pb-0">
      
      
     
      <h5 class="card-title mt-1">{{corso.nomeCorso}}</h5>
      <p class="card-text mtn-15">{{corso.subNomeCorso}}</p>
      <div class="mtn-10 mln-2">
        <app-info-utente *ngIf="!front" [utente]="corso.owner"  [isCardCorso]="true"></app-info-utente>

      </div>

      <div *ngIf="!front" class=" mln-3 d-flex justify-content-center mt-1">
        <ngx-stars [readonly]="true" [size]="1" [color]="'#ffc400'" [initialStars]="corso.mediumFeeds"></ngx-stars>
        <p class="card-text ml-1" style="margin-top: -3px !important;"><small class="text-muted">( {{corso.totFeeds}} )</small></p>
      </div>
      

      <!-- <div class="w-100 bgc-gray-footer">
        <app-share *ngIf="!front" [url]="url" [title]="corso.nomeCorso" [description]="corso.subNomeCorso">
        </app-share>

      </div> -->


    </div>
  </div>
  <div class="card-box back w-100">
    <app-info-corso [corso]="corso"></app-info-corso>
  </div>
</div> 