.card{
  width: 300px;
  min-height: auto;
}


img {
  border-radius: 5%;
  width: 120px;
  height: 60px;
  object-fit: contain;
}

.desc-corso {
  background-color: rgb(247, 247, 247);
  min-height: 100px;
  max-height: 100px;
}