





    <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let user of utenti" class="slide pr-2 pl-2">
            <app-info-utente [utente] = "user"  [isSlide] ="true" [position] = "utenti.indexOf(user) + 1"></app-info-utente>
        </div>
    </ngx-slick-carousel>
    