
.card:hover{
  transform: scale(1.05);
  top:15px;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}




  .card-custom {
    overflow: hidden;
    min-height: 245px;
    border: 0;
    box-shadow: 0 0 2px rgba(10, 10, 10, 0.3);
  }


  .card-custom-user{
    border-radius: 5%;
    position: absolute;
    top: 195px;
    left: 20px;
    width: 150px;
    height: 40px;
  }
  
  



.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

  