<div class="card mb-3 shadow-sm" style="max-width: 540px;">
    <div *ngIf="!isShowInfo" class="row no-gutters mb-1">
        <div class="col-4 p-2" style="min-height: 8rem;">
            <div class="row d-flex justify-content-center p-1 pl-4">
                <app-image-corso [codiceCorso]="corso.tipo.codice"></app-image-corso>

            </div>
        </div>
        <div class="col-8">
            <div class="card-body pb-0">

                <div class="row d-flex justify-content-center">
                    <h2 class="md-display-1">{{corso.nomeCorso}}</h2>
                </div>

                <div *ngIf="!isShowInfo" class="row d-flex justify-content-center">
                    <ngx-stars [readonly]="true" [size]="1" [color]="'#007bff'" [initialStars]="getMediumFeeds"></ngx-stars>
                    <p class="card-text ml-1" style="margin-top: -3px;"><small class="text-muted">( {{corso.feeds.length}} )</small></p>
                </div>

                <div class="row d-flex justify-content-center">
                    <a (click)="showInfo()" class="stretched-link" style="color: #6c757d;">
                        {{isShowInfo ? 'Chiudi info' : 'Visualizza info'}}
                    </a>
                </div>

                <div *ngIf="false" class="card-text containerText mt-2">
                    <div class="scrolling-text font-weight-light html" [@scroll]="state" (@scroll.done)="scrollDone()" [innerHTML]="corso.descrizioneCorso"></div>
                </div>
                

            </div>
        </div>
    </div>
    <div *ngIf="isShowInfo" class="row no-gutters mb-1">
        <div class="col-12">
            <button mat-icon-button (click)="showInfo()" style=" color: #6c757d;">
                <mat-icon style="margin-top: -3px;">clear</mat-icon>
            </button>
        </div>
        <div *ngIf="!isEmptyDescrizione" class="col-12 mt-3">
            <div [innerHTML]="corso.descrizioneCorso"></div>
        </div>   
        <div *ngIf="isEmptyDescrizione" class="col-12 mt-3 d-flex justify-content-center">
            <h4>Descrizione corso non disponibile</h4>
        </div>     
    </div>
    <div class="row no-gutters pt-0 pb-3 bg-light text-dark justify-content-end">
        <div *ngIf="isUtenteLogged">
            <a (click)="elimina()" class="btn btn-outline-danger btn-sm mr-3 mt-4">Elimina</a>
        </div>
        <div *ngIf="isUtenteLogged">
            <app-modal-corso-edit [corso] = "corso"></app-modal-corso-edit>            
        </div>
        <div>
            <a (click)="goToCorso(corso)" class="btn btn-outline-success btn-sm mr-3 mt-4">Vai al corso</a>            
        </div>

    </div>
</div>