.card{
  width: 220px;
  min-height: 270px;
}

.body-front{
  min-height: 145px;
}

.pl-body{
  padding-left: 0.5rem !important;
}


.pr-body{
  padding-right: 0.5rem !important;
}



.card-box-img {
  max-height: 75px !important;
  min-height: 75px !important;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding: 3px;
}

img {
  width: 214px;
  height: 70px;
  object-fit: contain;
}

.desc-corso {
  background-color: rgb(247, 247, 247);
  min-height: 169px;
}
