<div class="card">
  <div *ngIf="!isPAy" class="card-horizontal pl-3">

    <div class="row pl-0 pr-0 w-100">
      <div class="col-4 p-2 my-auto">

         <img *ngIf="corso.image !== undefined && corso.image !== null && corso.image !== ''" alt="Web Studio"
         class="card-img" src="{{corso.image}}" />
         <img *ngIf="corso.image === undefined || corso.image === null || corso.image === ''" alt="Web Studio"
         class="card-img" src="../../../assets/images/default.png" />

      </div>
      <div class="col-8 pr-0 pl-0">
        <div class="card-body p-0 pt-3 pb-3">
          <div class="d-flex justify-content-center" >
            <p>{{corso.nomeCorso}}</p>
    
          </div>

          <div class="d-flex justify-content-center" style="margin-top: -8px;">
            <h5>{{corso.subNomeCorso}}</h5>
    
          </div>
    
          <div class=" d-flex justify-content-center ">
            <h5>Prezzo : <b style="opacity: 0.7;">{{corso.prezzo > 0 ? corso.prezzo + '€' : 'Free' }}</b></h5>
          </div>
    
          <div *ngIf="!isShowInfo" class="row d-flex justify-content-center" >
            <ngx-stars [readonly]="true" [size]="1" [color]="'#007bff'" [initialStars]="getMediumFeeds"></ngx-stars>
            <p class="card-text ml-1" style="margin-top: -3px;"><small class="text-muted">( {{corso.feeds.length}}
                )</small></p>
          </div>
        </div>

      </div>
    </div>


  </div>
  <div *ngIf="isPAy" class="card-horizontal pl-3">

    <button mat-icon-button (click)="back()" style=" color: #6c757d; margin-top: -10;">
      <mat-icon>clear</mat-icon>
    </button>
  
    <hr />
  
  
    <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
      <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
  
      <button mat-button type="submit" style="color: #6c757d;">
        Acquista
      </button>
    </form>

  </div>
  <div class="card-footer pt-1 pb-1">

    <div class="row">
      <div class="col-2">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
    
          <app-modal-info-corso [corso]="corso"></app-modal-info-corso>
    
          <button mat-menu-item (click)="elimina()" *ngIf="isUtenteLogged">
            <mat-icon>delete_outline</mat-icon>
            <span>Elimina</span>
          </button>
          <div *ngIf="isUtenteLogged">
            <app-modal-corso-edit [corso]="corso"></app-modal-corso-edit>
          </div>
        </mat-menu>

      </div>
      <div class="col-10 text-right">
        <button mat-button (click)="next(corso)" style="color: #6c757d;">
          {{isCorsoLetto ? 'Continua' : 'Inizia Ora'}}
        </button>
      </div>
    </div>
      
  </div>
</div>
