<div class="card mb-3" style="max-width: 540px; min-height: 200px;">
    <div class="row no-gutters">
        <div class="col-4">
            <app-image-corso [codiceCorso]="corso.tipo.codice"></app-image-corso>
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">{{corso.nomeCorso}}</h5>
                <div class="card-text containerText">
                    <div class="scrolling-text font-weight-light html" [@scroll]="state" (@scroll.done)="scrollDone()" [innerHTML]="corso.descrizioneCorso"></div>
                </div>
                <ngx-stars [readonly]="true" [size]="1" [color]="'#007bff'" [initialStars]="getMediumFeeds"></ngx-stars>
                <p class="card-text"><small class="text-muted">( {{corso.feeds.length}} Feeds )</small></p>
                <div class="row justify-content-end">
                    <a (click)="goToCorso(corso)" class="btn btn-outline-primary btn-sm mr-3 mt-4">Vai al corso</a>
                </div>
            </div>
        </div>
    </div>
</div>