.card-horizontal {
  display: flex;
  flex: 1 1 auto;
  height: auto;
}

.container-img{
  background: rgba(180, 180, 180, 0.2);
}

.card-img{
  min-height: auto; 
  max-height: auto; 
  min-width: auto;
  max-height: auto;
}

  .scrolling-text {
    position: absolute;
    white-space: nowrap;
  }

  /* Below doesn't work to pause */

  .scrolling-text:hover, .container:hover {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }


  