



.card-img{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
}


  .card-box-img{
    max-height: 130px !important;
    min-height: 130px !important;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 3px;
    
  }


  @media all and (min-width: 500px){
    
    img {
      width: 270px;
      height: 124px;
      object-fit: contain;
    }
    .card-corso {
      border-radius: 8px;
      position: relative;
      height: 315px;
      width: 260px;
      transform-style: preserve-3d;
      max-width: 260px !important;
      clip-path: polygon(0 0, calc(100% - var(--cs)) 0, 100% var(--cs), 100% 100%, 0 100%);
    }
  } 

  @media all and (max-width: 400px){
    
    img {
      width: 270px;
      height: 120px;
      object-fit: contain;
    }

    .card-corso {
      border-radius: 8px;
      position: relative;
      height: 315px;
      width: 250px;
      transform-style: preserve-3d;
      max-width: 260px !important;
      clip-path: polygon(0 0, calc(100% - var(--cs)) 0, 100% var(--cs), 100% 100%, 0 100%);
    }
  } 



  .bgc-gray-footer{
    background-color:#efefef;
  }


  .card-wrapper {
    perspective: 800px;
}






.card-box {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    text-align: center;
    border-radius: 8px;
    
    user-select: none;
    cursor: pointer;

    
}


.front {
    
}

.back {
    
    transform: rotateY(180deg);
}




.folded_corner{
  position:relative;
 
  padding-top:40px;
  
  background: linear-gradient(to left bottom, transparent 50%, rgba(98, 98, 98, 0.4) 0) no-repeat 100% 0 / 2em 2em,
    linear-gradient(-135deg, transparent 1.5em, rgb(255, 255, 255) 0);
  
  
}